[2018-07-12 19:03] iotamudelta opened #31 "Multi-GPU support"
Currently, we do not support multi-GPU on ROCm, nor do we assume it works right now. This issue is tracking insights and progress as we are trying to enable this.

[2018-07-12 19:54] Jorghi12 commented on #31
The development of [RCCL](https://github.com/ROCmSoftwarePlatform/rccl) appears partially functional. Exciting!

[2018-07-18 18:58] petrex opened #44 "[Caffe2] Cudnn operator update"
The goal is to review cudnn implementation of ops and implement miopen version if applicable

- affine_channel
- sigmoid/tanh
- transpose
- dropout
- **depthwise_3x3_conv**

[2018-07-18 19:01] petrex opened #45 "[Caffe2] upstream tracker"
The goal is to create a tracker on the upstream project.
Whenever anything cu. change (a potential break to pyHipify process), we will get notified.

Landing Zone

- must-have: daily track
- nice-to-have: real-time tracking

[2018-07-18 19:03] petrex opened #46 "Distributed Traning"
The goal is to evaluate the high-level approach to enable Pytorch/caffe2 distributed training

[2018-07-18 19:06] petrex opened #47 "Better Provisioning for AMD CI node"
The goal is to develop a strategy to properly provisioning AMD CI node for Pytorch/Caffe2.

Recently one of the CI workers was silently updated to Linux kernel 4.15 and hence cripple rocm stack.
One of the unit tests is failing due to this and gate upstream PR merge. As we are adding more AMD nodes to the CI pool; need to develop a protocol to provision those nodes.

[2018-07-18 19:10] petrex opened #48 "[Caffe2] HIP operated tests update"
The goal is to

1. update Caffe2 core tests
2. update Caffe2 operator tests
3. fix failing tests
4. add the passing tests to pytorch/Caffe2 CI

[2018-07-18 19:13] petrex opened #49 "[Caffe2] Docker image and Documentation"
The goal is to create an all-in-one docker image and documentation for Pytorch/Caffe2.

The requirement:

Target audience: noob user who does not know anything.
Coverage: Include build and install instructions for C2 as well as its dependencies.
Assumption: that the user will have ROCm 1.8 installed on their system on Vega10.

[2018-07-18 19:14] iotamudelta commented on #46
redundant w/ #31 ?

[2018-07-18 19:15] petrex opened #50 "[Caffe2] Investigate the performance gap between Caffe2 and Tensorflow port"
The goal is to eliminate the overhead in the current implementation. Expect to see on par performance between different frameworks.

[2018-07-18 19:25] petrex opened #51 "[Caffe2] rocprim ops"
The goal is to enable rocprim ops on the project. Also, create the new rule in pyhipify.

[2018-07-19 00:42] rohithkrn commented on #45
Already have something in place for this which scans the upstream master once every day. The status can be tracked here: http://hsautil.amd.com/job/caffe2_track_upstrem/

[2018-07-19 00:45] rohithkrn opened #52 "[Caffe2] MIOpen RNN Integration"
The goal is to integrate MIOpen RNN APIs into caffe2.

[2018-07-19 17:30] petrex commented on #50
@ashishfarmer Please make sure we are running exactly the same thing in caffe2 and Tensorflow before the investigation. Try ONNX and share your knowledge with Perf Lab.

[2018-07-19 17:33] petrex commented on #45
@rohithkrn need to establish a baseline. ideally, after binary tests/unit tests are running/passing.

[2018-07-20 00:13] geekonedge opened #54 "Aten missing files for caffe2_hip"
## Issue description

Aten appears to me missing files for caffe2_hip and prevents the installation of torch

In file included from /home/user/dev/pytorch/aten/src/THC/THCTensorIndex.cu:12:
/home/user/dev/pytorch/aten/src/THC/THCAtomics.cuh:145:35: error: static declaration of 'atomicAdd' follows non-static declaration
  static inline  __device__  void atomicAdd(double *address, double val) { }

[2018-07-20 00:43] rohithkrn commented on #45
Binary tests are passing now. Thanks to @ashishfarmer . Changes from the time files are checked-in have been noted. Need to update those files wherever possible. Changes from now on will anyway be tracked by the script.

[2018-07-20 00:44] rohithkrn commented on #45
@petrex updated the job to run every 2 hours instead of once every day.

[2018-07-20 02:38] Jorghi12 commented on #54
You appear to be using HIP from the master branch, which comes with hip atomics definitions. Applying this [PR here](https://github.com/ROCmSoftwarePlatform/pytorch/pull/7) should solve your issue.

[2018-07-20 02:42] geekonedge commented on #54
@Jorghi12 thanks for the note. I anticipated that might be the issue. Thanks again for the help!

[2018-07-20 03:40] geekonedge commented on #54
I can confirm this is fixed by the PR referenced above

[2018-07-20 03:40] #54 closed

[2018-07-20 04:41] Jorghi12 opened #55 "[PyTorch] Complete rocRAND Integration."
Currently, rocRAND is only partially integrated with PyTorch. However, it still remains nonfunctional at the time being. This PR is for ensuring that the rocRAND integration successfully achieves 100% of tests passing. This will require coordination with rocRAND  lead developers @jszuppe & @ex-rzr.

[2018-07-20 04:44] Jorghi12 opened #56 "[PyTorch] Investigate early runtime error."
Currently, when using PyTorch with ROCm, you'll notice the following error:

[code]

However, the error disappears by executing **torch.cuda._lazy_init()** very early.

[code]

[2018-07-20 04:46] Jorghi12 opened #57 "[PyTorch] Re-enable ATen ROCm tests."
PyTorch ROCm for a while had the ATen ROCm tests disabled https://github.com/ROCmSoftwarePlatform/pytorch/blob/master/caffe2/CMakeLists.txt#L341

Basically, re-enable them and handle any HCC related issues that come up in the process of doing so.

[2018-07-20 04:49] Jorghi12 opened #58 "[PyTorch] Integrate PyTorch with the Radeon Compute Profiler."
Currently, the PyTorch profiler is disabled when building with ROCm. In the future, we'd like to start using the profiler here https://github.com/GPUOpen-Tools/RCP.

[2018-07-20 04:55] Jorghi12 opened #59 "[PyTorch] Docker Image and Documentation"
Create documentation for the open source community on how to start working with the ROCm PyTorch Docker Image. Provide a clear summary on what's supported at the moment and what's on the agenda.

[2018-07-21 07:55] Jorghi12 opened #64 "[PyTorch] Update sccache to support HCC"
In order to improve build times, I've extended sccache to support HCC: https://github.com/Jorghi12/sccache. Once a full enumeration of the HCC command line arguments are obtained, I'll send a more robust solution upstream into Mozzila's sccache branch.

[2018-07-22 06:46] Jorghi12 commented on #64
**HIPCC update:**
https://github.com/ROCm-Developer-Tools/HIP/pull/586

[2018-07-23 06:15] petrex opened #66 "Evaluate clang5 v.s. clang 3.8 for pytorch"

[2018-07-23 06:17] petrex commented on #66
This is for pytorch/caffe2 on rocm 1.8.2; seeing constraint for production.

[2018-07-23 18:58] petrex commented on #48
current failing tests

- arg_ops_test.py
- piecewise_linear_transform_test.py
- roi_align_rotated_op_test.py
- top_k_test.py

[2018-07-24 17:39] petrex commented on #49
#71 for building pytorch/caffe2

[2018-07-27 18:54] rohithkrn commented on #49
Updated the documentation to run benchmarks.

[2018-07-27 21:11] petrex commented on #66
The root cause:

https://github.com/ROCm-Developer-Tools/HIP/blob/73ef5312086ce039f7d7c787f3c2866ec397a81e/include/hip/hcc_detail/hip_fp16.h#L32

[2018-07-27 21:13] petrex commented on #47
expecting 2 more nodes for FB CI.

[2018-07-27 21:13] petrex commented on #47
looking for

1. IPMI to nodes
2. file system snapshot and backup for nodes

[2018-08-02 00:10] ashishfarmer opened #88 "[Caffe2] GPU memory access fault while running OverFeat benchmark for batch size 1 and 4"
[code]

[2018-08-02 00:21] ashishfarmer opened #89 "[Caffe2] Add MIOpen op for non relu activation ops"

[2018-08-03 17:24] ashishfarmer commented on #88
Looks like a problem with a rocBLAS kernel. Working with the team on this

[2018-08-03 18:04] ashishfarmer commented on #66
The issue will be fixed with hip-clang. We will continue using clang-3.8 for building until then

[2018-08-03 18:04] #66 closed

[2018-08-10 19:31] mwootton opened #114 "[PyTorch] Achieve working fp16 support"
Identify and fix outstanding issues with fp16.

[2018-08-13 14:28] iotamudelta commented on #59
We have [this wiki entry](https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm) now. It is also used by CQE.

Missing: what's supported.

[2018-08-28 01:55] Indrashish commented on #88
@ashishfarmer  any update on this.

[2018-08-28 17:57] ashishfarmer commented on #88
@Indrashish, The issue has been fixed in rocblas, but the packages have not yet been up on repo.radeon.com. To get the fix, instead of using ```apt-get install rocblas``` to install rocBLAS, try this:
[code]
This should fix the problem

[2018-09-05 17:47] petrex opened #175 "[Caffe2] Update on MIOPEN pooling ops"
- global pooling fix
- perf enhancment

[2018-09-05 17:47] petrex opened #176 "[Caffe2] LSTM benchmark"
- run LSTM benchmark on ROCM

[2018-09-05 17:48] petrex opened #177 "[Caffe2] Python API change upstream"
- update Python API upstream

[2018-09-05 17:49] petrex opened #178 "[Caffe2] Enable MIOPEN tests upstream (for CI)"
- Enable MIOPEN tests upstream (for CI)

[2018-09-05 17:49] petrex opened #179 "[Caffe2] Enable fp16 tests upstream"
- Enable fp16 tests upstream

[2018-09-05 17:51] petrex opened #180 "[Caffe2] Enable core test on MIOPEN/HIP upstream"
- Enable core tests on MIOPEN/HIP upstream

[2018-09-05 17:51] petrex opened #181 "[Caffe2] Investigate cross entropy ops"
- enable model tests

[2018-09-05 17:52] petrex opened #182 "[Caffe2] Update pre-hipified files (core)"
- Update pre-hipified files (core)

[2018-09-05 17:53] petrex opened #183 "[Caffe2] Update pre-hipified files (ops)"
- Update pre-hipified files (ops)

[2018-09-05 17:54] petrex opened #184 "[Caffe2] Update MIOPEN ops (for release 1.5)"
-  Update MIOPEN ops (for release 1.5)

[2018-09-05 17:56] petrex opened #185 "[Caffe2] Enable ROCM support for pytorch examples/usages"
- https://github.com/pytorch/examples

[2018-09-05 17:56] petrex opened #186 "[Caffe2] Centos support"

[2018-09-05 17:58] petrex opened #187 "[Caffe2] Revisit skip tests"

[2018-09-14 21:12] iotamudelta commented on #55
Done.

[2018-09-14 21:12] #55 closed

[2018-09-14 21:13] iotamudelta commented on #114
Note that the HIP fixes bring us somewhat closer to working fp16. @lcskrishna tagged here as he knows the current status for overall training - please comment.

[2018-09-18 17:18] ashishfarmer commented on #175
[PR #11766](https://github.com/pytorch/pytorch/pull/11766) awaiting review

[2018-09-18 20:16] rohithkrn commented on #181
FIxed.

[2018-09-18 20:16] #181 closed

[2018-09-20 21:55] #175 closed

[2018-09-20 21:57] ashishfarmer commented on #88
Issue fixed in the package releases with ROCm 1.9

[2018-09-20 21:57] #88 closed

[2018-09-27 21:28] rohithkrn commented on #177
Not accepting changes ATM.

[2018-09-27 21:28] #177 closed

[2018-09-27 21:30] rohithkrn commented on #176
Ran the benchamrks.
Tested `char_rnn.py` in caffe2. Works with hip kernel backend. Need to test with miopen kernel of LSTM.

[2018-09-27 21:32] #45 closed

[2018-10-01 18:16] rohithkrn commented on #182
FB has been updating these files simultaneously with cuda files.

[2018-10-01 18:16] #182 closed

[2018-10-01 18:21] petrex commented on #182
clearly, they want our job.

[2018-10-10 13:42] briansp2020 opened #258 "Building PyTorch with ROCm"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

I'm trying to build PyTorch to run on ROCm (Ubuntu 18.04) and am having issues. I tried the following.

1. I followed https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm but it seems to have failed at pyyaml (https://gist.github.com/briansp2020/114bd75ff018

[2018-10-10 15:31] iotamudelta commented on #258
We are in the process of releasing a new version of ROCm for PyTorch soon. The wiki and docker file will be updated then. Stay tuned!

[2018-10-10 16:12] jithunnair-amd commented on #258
@briansp2020 Please don't forget to run Step 6 of https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm before you start the build process. It seems you didn't "hipify" using that step, which is why your code is still referencing CUDA headers.

[2018-10-11 11:12] briansp2020 commented on #258
I was able to make some more progress. I did ran hipify but it failed because I did not set environment variables for language. After setting the environment variable and installing hipSPARSE & rocSPARSE to ROCm/TensorFlow docker, I was able to make progress. The build process reached 87% (https://gist.github.com/briansp2020/159742c61da5bb205b7214ac980ff092).

Some errors I still get are

/root/py

[2018-10-16 20:31] rohithkrn commented on #187
WIP, current list of rocm failing tests:
 `args_op_test.py`, `piecewise_linear_transform_test.py`, `top_k_test.py`

[2018-10-16 20:38] rohithkrn commented on #178
PR 12278 will take care of this.

[2018-10-16 20:42] rohithkrn opened #274 "[Caffe2][MIOpen] RNN ParamAcessOp segfault"
MIOpen RNN ParamAccess Op segfaults.

[2018-10-21 15:59] briansp2020 commented on #258
FYI. I saw that the Dockerfile was updated and tried to build pytorch & fast.ai. I was able to build them eventually but noticed that rocm_agent_enumerator installed in the docker image does not match the latest  (https://github.com/RadeonOpenCompute/rocminfo/blob/master/rocm_agent_enumerator) and fails to run under Python 3.6.

[2018-10-21 19:38] briansp2020 commented on #258
After building docker image using updated docker file (https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm). I needed to uninstall hip-thrust and get the latest hip-thrust from git (https://github.com/ROCmSoftwarePlatform/Thrust.git) before building PyTorch. I summarized steps I took to build PyTorch using Python3.6 here (https://gist.github.com/briansp2020/717f5cab00688

[2018-10-22 16:52] iotamudelta commented on #258
Could you elaborate what you mean by/observe when you say:
* `rocm_agent_enumerator` failing under python 3.6
* `hip-thrust` package not working

It's hard to comment on the convergence/accuracy issue you observe directly without knowing what model/kernels are running.

[2018-10-22 19:38] briansp2020 commented on #258
The rocm_agent_enumerator file in docker image has no parenthesis around print statement at line 141. The latest file in git has them. It seems to work fine in Python 2 but it generates error when using Python 3.6.

  File "/opt/rocm/bin/rocm_agent_enumerator", line 141
    print "gfx000"
                 ^

I tried building pytorch again without updating thrust and it worked this time...

[2018-10-23 02:47] briansp2020 commented on #258
After building PyTorch, how do I make sure it is working ok? I ran some scripts under test directory and got bunch of errors (https://gist.github.com/briansp2020/c532898bb4a63a65d37281536df850e2). I'm not sure what the expected behavior is.

[2018-10-23 20:50] briansp2020 commented on #258
It looks like https://github.com/pytorch/pytorch.git works better for me. When using ROCmSoftwarePlatform/pytorch.git, all training in fast.ai lesson1 fails. Using pytorch/pytorch.git, training seems to work until all the layers are unfrozen as shown here (https://imgur.com/a/g4f5InS).

[2018-10-23 23:12] iotamudelta commented on #258
@briansp2020 before going to more complex tests, could you run
`PYTORCH_TEST_WITH_ROCM=1 python test/run_test.py --verbose` (or `python3` if you are running that? If your compilation is good, there will be no errors.

[2018-10-23 23:35] briansp2020 commented on #258
Test output from pytorch/pytorch at https://gist.github.com/briansp2020/8ddfdce9b1bc7da335cd5a09f166a8a9

[2018-10-23 23:47] jithunnair-amd commented on #258
@iotamudelta the failing test in Brian's run is skipped for python2, which is what our CI runs on. @briansp2020 can you rerun with python2 and report the results?

[2018-10-24 03:09] briansp2020 commented on #258
Test output from pytorch/pytorch using Python2.
https://gist.github.com/briansp2020/15c5792174c3cee11dfc03c8d999225f

It ran more tests before failing.

[2018-10-24 13:17] briansp2020 commented on #258
Test and build output from ROCmSoftwarePlatform/pytorch using Python3.
https://gist.github.com/briansp2020/15c5792174c3cee11dfc03c8d999225f

I see that more tests are run and passed. However, test_multinomial_invalid_probs_cuda still fails. Since  test_multinomial is skipped on ROCm, test_multinomial_invalid_probs_cuda should be skipped as well.

I also ran into a build error. It seems compiler cr

[2018-10-24 16:00] briansp2020 commented on #258
Rebuilt ROCmSoftwarePlatform/pytorch using Python3 and, this time, it compiled without crashing.
Skipping test_multinomial_invalid_probs_cuda allowed the test to proceed further and tests now fail at test_nn.py.
https://gist.github.com/briansp2020/fcbcd0cb1d962cc39d4eecd4f1a80f6d

[2018-10-24 16:09] iotamudelta commented on #258
If you are using our docker file and compile with python2 (note that your host system must be ROCm 1.9), all unit tests after filtering with `PYTORCH_TEST_WITH_ROCM=1` will pass either on pytorch/pytorch or this fork. I suspect you are not using our docker file? Which ROCm repository are you using?

[2018-10-24 16:29] briansp2020 commented on #258
For Python2, I used the docker file as is to build ROCmSoftwarePlatform/pytorch. pytorch/pytorch won't compile because of thrust.
For Python3, I modified it to install Python3. The file in gist https://gist.github.com/briansp2020/7a7debad0d7f7aabecce1f7c8d39858a
I had to fix rocm_agent_enumerator. I'm using the thrust from git to build ROCmSoftwarePlatform/pytorch since that is what was needed to

[2018-10-24 16:35] jithunnair-amd commented on #258
This particular run failed because you didn't have the "hypothesis" python module installed in your system. If you see similar import errors from python in the future, look for the matching python module to install. Sorry, as Johannes mentioned already, this is a WIP. :)

[2018-10-24 17:05] briansp2020 commented on #258
@jithunnair-amd Yes. I ran the test again with hypothesis and was able to go further.

I'm at the moment fixing up test script to run the test in Python3 environment. I'm just keeping this thread up to date just in case I find something useful for the development team.

It seems the test script does not quite work in Python 3.6 environment that I'm interested in using. I was able to run test_nn.py

[2018-10-24 17:11] jithunnair-amd commented on #258
Unfortunately, python2 is the only one thoroughly tested at the moment, so that's the one we would have stronger confidence on working. Does python2 not work for fast.ai?

Your python3 log above looks good! I don't see any failures. Why do you say "the test script does not quite work in Python 3.6 environment that I'm interested in using"?

[2018-10-24 18:36] briansp2020 commented on #258
Fast.ai requires Python3.6.

I fixed up the test script to get that result. I can send a pull request if you like. Just some minor change in conditions.

Also, I installed librosa and some tests fail looking for hipFFT. Is hipFFT part of separate package? It seems it should be part of rocFFT...
https://gist.github.com/briansp2020/fe1605a5aa8fde77448d76032b9e2703

[2018-10-24 18:42] briansp2020 commented on #258
My pull request to get the tests running on Python 3.6. :)
https://github.com/ROCmSoftwarePlatform/pytorch/pull/291

[2018-10-24 18:44] iotamudelta commented on #258
The hipfft API is part of rocFFT. So it's interesting that there are missing symbols. We haven't tried with librosa, so we'll need to see if we can reproduce and fix.

Thanks for the PR!

[2018-10-25 04:48] briansp2020 commented on #258
Just wondering. Do you have target release date for PyTorch for ROCm?

[2018-10-25 21:14] petrex commented on #47
dedicated internal resource working on this. closed.

[2018-10-25 21:14] #47 closed

[2018-10-25 21:15] petrex commented on #48
duplicate #187 .

[2018-10-25 21:15] #48 closed

[2018-10-25 21:17] petrex commented on #50
seeing on par performance locally. need to enable perf lab

[2018-10-25 21:18] petrex commented on #51
pending rocprim readiness.

[2018-10-25 21:20] petrex commented on #178
https://github.com/pytorch/pytorch/pull/12278

[2018-10-25 21:20] #178 closed

[2018-10-25 21:20] petrex commented on #180
duplicate

[2018-10-25 21:20] #180 closed

[2018-10-25 21:22] petrex commented on #183
https://github.com/pytorch/pytorch/pull/13000
will look into automation.

[2018-10-25 21:22] #183 closed

[2018-10-26 16:11] briansp2020 commented on #258
I was looking into why Fast.ai does not converge when PyTorch on ROCm and noticed that the loss vs learning rate curve looks very different between the version I get from ROCm and the version from Fast.ai repo. ROCm version is much narrower and the minimum does not seem as low either. Is this expected behavior? It seems I'd have to adjust learning rate to make the model converge. See below screens

[2018-10-26 22:05] ashishfarmer commented on #89
Changes already on ROCm master in #294

[2018-10-26 22:28] ashishfarmer commented on #44
Update:

- Affine channel -> typo. There is no Affine channel CUDNN or MIOpen operation, and C2 uses CUDA/HIP for that operation
- Sigmoid -> Done
- Tanh -> Done
- Dropout -> Not supported in MIOpen

[2018-10-29 16:42] ashishfarmer commented on #89
Merged into upstream in PR#13187

[2018-10-29 16:42] #89 closed

[2018-10-30 01:53] ashishfarmer opened #297 "[Detectron] Incorrect use of max and abs"
After enabling Detectron files hipification and building in PR #295, there are warnings while building the project from the following files:
sigmoid_focal_loss_op_hip.cc
ps_roi_pool_op_hip.cc
smooth_l1_loss_op_hip.cc
The warnings are because HIP does not overload `max` and `abs` functions.

Please add appropriate checks `#if defined (__HIP_PLATFORM_HCC__)` and use more specific HIP functions like

[2018-10-30 01:54] ashishfarmer commented on #297
The incorrect functions would not just cause warnings, but will also result in wrong functional results

[2018-10-30 09:39] 7SK commented on #297
Thanks @ashishfarmer , please review the fix

[2018-11-01 22:07] clemej opened #306 "Build error: THCStorage.cu:4:10: fatal error: 'thrust/device_ptr.h' file not found"
## 🐛 Bug

I'm trying to build pytorch for ROCm, and it fails with this log:

## To Reproduce

Steps to reproduce the behavior:

1. Install ROCm / libraries from apt repo
1. install rocmSPARSE and hipSPARSE from source
1. clone rocm pytorch repo
1. `python3 tools/amd_build/build_pytorch_amd.py`
1. `USE_ROCM=1 python3 setup.py build`

## Expected behavior

I expect pytorch to compile.

## Environmen

[2018-11-01 22:12] jithunnair-amd commented on #306
Are you referring to this link for the steps: https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm? You're missing _at least_ 2 steps:
1. installing hip-thrust (mentioned in the Dockerfile in above link)
2. `python tools/amd_build/build_caffe2_amd.py`

[2018-11-01 22:13] iotamudelta commented on #306
Lastly, ROCm 1.9.1 does not work for PyTorch yet. You will need 1.9.2 prerelease - I recommend you use the dockerfile that setups the environment properly and follow the instructions listed in the wiki entry posted above.

[2018-11-01 22:13] #306 closed

[2018-11-02 02:40] 7SK commented on #297
PR is merged, closing the issue

[2018-11-02 02:40] #297 closed

[2018-11-02 20:07] briansp2020 commented on #258
FYI
I noticed that packages were updated early this morning. However, using these latest packages in docker container causes issues with compiling PyTorch. Output in Python 2 (https://gist.github.com/briansp2020/2b149154eaac6da7073ad559951301b6) and 3 (https://gist.github.com/briansp2020/58bba440fd7925787a73a966d75847b7).

Linker seems to crash
Stack dump:
0.	Program arguments: /opt/rocm/hcc/bin/l

[2018-11-02 20:42] iotamudelta commented on #258
Thanks! We are aware of this, it'll be fixed by release. Do you have a working docker image around still?

[2018-11-02 22:01] briansp2020 commented on #258
Yes. I do have a working docker image.

[2018-11-07 03:47] Citronnade commented on #258
I'm running into the same issue with the provided dockerfile and building for gfx900.  Is there a quick fix I can use to allow it to compile?

[2018-11-07 04:17] iotamudelta commented on #258
@Citronnade adjust the repository to `http://repo.radeon.com/rocm/misc/facebook/apt/.apt_1.9.white_rabbit/debian/`

[2018-11-08 01:36] rohithkrn commented on #274
More Info:
To reproduce this issue, `caffe2/python/operator_test/cudnn_recurrent_test.py` needs to be run. It fails when running `RecurrentParamGet` operator implemented at `caffe2/operators/rnn/hip/recurrent_op_miopen.cc`

[2018-11-12 08:22] matthewmax09 commented on #258
Hello,

Just want to check if this is a concern, when I hipify the source code I get an error.

(py35) root@de18c9004c48:/data/pytorch# python tools/amd_build/build_pytorch_amd.py
error: patch failed: torch/cuda/__init__.py:123
error: torch/cuda/__init__.py: patch does not apply

[2018-11-12 15:18] jithunnair-amd commented on #258
@matthewmax09  Yes, you should not get an error during hipification normally. This usually occurs when you have a partially or fully hipified directory and you run the hipification script again. You might want to try resetting your repo or starting on a fresh one.

[2018-11-13 07:54] matthewmax09 commented on #258
@jithunnair-amd

Ok, I recloned https://github.com/ROCmSoftwarePlatform/pytorch and ran hippify again. No errors this time! Thank you for that advice! But I am still getting the same errors during testing and pasted them in this gist.

https://gist.github.com/matthewmax09/265139c78b27100dd75d95bacc9298af

It seems to me that the tests were expecting the tensor to be less than or equal to 1e-05. Wh

[2018-11-14 01:50] ashishfarmer commented on #44
Transpose conv -> done

[2018-11-15 20:15] ashishfarmer commented on #274
Fixed in #319

[2018-11-15 20:15] #274 closed

[2018-11-25 04:12] odellus commented on #258
I'm seeing the same [error](https://gist.github.com/odellus/f928d9926a70141941b4fbaefe94352f).

[2018-12-05 19:11] #44 closed

[2018-12-05 19:14] petrex commented on #186
Centos is supported and verified working in phantom env.
[docker image](https://hub.docker.com/r/bddppq/pytorch-rocm/) tag: 230-centos

[2018-12-05 19:14] #186 closed

[2018-12-05 19:15] petrex commented on #187
Issue tracked here:
https://github.com/ROCmSoftwarePlatform/Thrust/issues/14

[2018-12-05 19:15] #187 closed

[2018-12-05 19:16] petrex commented on #51
Issue tracked in rocprim project.

[2018-12-05 19:16] #51 closed

[2018-12-08 18:36] iamkucuk opened #327 "Why don't we have a PyTorch-ROCM pip package like tensorflow?"
## 🚀 Feature
PyTorch ROCM package as a pip package like tensorflow-rocm would be great.

## Motivation

While it is already a pain for newer users to get things up and running, pytorch installation for rocm platform is just a lot for newer users. Since there is a tensorflow-rocm package for new users to easily download and install, I think PyTorch should have it too for the users who prefer pytorc

[2018-12-09 13:47] hyperfraise opened #328 "[Pytorch] AMD GPUs benchmarks"
Hi. Thanks for this work guys.

I was curious as to whether you had been able to bench the framework on amd gpus ? I've successfully build pytorch with rocm support following your instructions, and the benchs I got don't seem right. I'm testing with a Radeon 580, which should be like half the performance as 1080 Ti, and I'm seeing more like 9-10 times drop in performances on convolution. The tenso

[2018-12-09 17:33] hyperfraise commented on #328
This is tensorflow benchmarks

http://blog.gpueater.com/en/2018/04/23/00011_tech_cifar10_bench_on_tf13/

[2018-12-10 21:18] ubombi opened #329 "build from source inside docker does not work."
## 🐛 Bug

build inside docker does not work.

## To Reproduce

Steps to reproduce the behavior:
Build from sources section of `./rocm-docs/caffe2-build.md`

**[Dump Gist](https://gist.github.com/ubombi/1c1e75ead7ae46218df651ee2ff842d5)**

error:
[code]

[2018-12-10 23:47] iotamudelta commented on #328
Thanks for the report! We are working on performance optimizations at the moment. If you are interested to help, could you `export MIOPEN_FIND_ENFORCE=3` prior to running the benchmark? This will tune the MIOpen convolution kernels for the benchmark (it will take a long time though!) - that way we could see what the "ideal" performance currently is.

[2018-12-10 23:47] iotamudelta commented on #327
We are working on making this happen with upstream. Thanks for your request!

[2018-12-11 16:22] iotamudelta commented on #327
We have upstreamed all ROCm enablement already. You can use the upstream repository on top of ROCm. Concerning the pip wheel: since that's outside our hands, unfortunately not.

In the meantime, I'd like to recommend our pre-build docker for Vega10, see https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Running-PyTorch-on-ROCm . It's not quite as easy as a pip wheel but has the advantage that it

[2018-12-11 20:40] FelixSchwarz commented on #328
How long is "long" on a RX 580? Some hours? A day? A week?

[2018-12-11 20:55] iotamudelta commented on #328
Typically a few hours for a single network. It depends on how many unique convolution configs are missing from our internal database.

[2018-12-12 07:21] furkan-kucuk commented on #327
Even projects with 0 stars can be easily located in PyPi packages and installed via pip. But if you say it's not a thing the huge Rocm community cannot do, please forgive me I have a hard time to understand this.

I struggled 4 hours with docker images and containers last night. Can you please point out a tutorial how to work with docker containers with an IDE? I couldn't manage to get autocorrect

[2018-12-12 09:49] hyperfraise commented on #328
Ran this command with this bench :
https://github.com/ryujaehun/pytorch-gpu-benchmark

Whole lotta tests were running. Waited the night for it to finish. Came back this morning and the task was frozen, radeontop showing every metric at 100% utilization (doubt it though).

Looked for any result but none is showing. I'll try another, maybe lighter benchmark.

[2018-12-12 10:24] hyperfraise commented on #328
Not sure if relevant for you, but I can't detect my gpu now, and this is the log of when I killed it when it froze during the first benchmark. Working on it.[
![Uploading 2018-12-12-112120_1127x1019_scrot.png…]()
](url)

[2018-12-12 15:20] iotamudelta commented on #328
Couple of questions:
a) can you salvage the content of ~/.config/miopen and attach here? That'll at least give us an information how far it got before erroring out and if you keep the content of the file, the next time round no tuning for these configurations is required
b) which host kernel are you running this on and which dkms (or are you using upstream)?

Thanks!

[2018-12-12 18:50] briansp2020 commented on #327
gracious_greider is my container name. -e DISPLAY=${DISPLAY} option allows the applications inside docker to display on your local GUI. After executing bash that way, just launch your IDE from within docker and it will display on your screen.

[2018-12-12 20:51] furkan-kucuk commented on #327
I couldn't manage to install an IDE into the container. However, I could manage to use the docker image as interpreter with PyCharm. Now here's where I got stuck;
I need to install additional packages with pip. However, as far as I understood, pip installations (or any kind of installations) in containers are not persistent. I tried to install whatever I want and build a new docker image with it a

[2018-12-12 21:09] briansp2020 commented on #327
docker image does not persist your changes unless you tag it. However, you don't have to start your docker instance from an image every time.
docker run will run a container from an image. Hover, once you have a running container, it will persist whatever changes you make until you remove it.
what do you see when you run the following commands?

Maybe your PyCharm setup is running a fresh containe

[2018-12-13 09:14] skylt commented on #328
(I'm working with @hyperfraise )
- a) [here](https://gist.github.com/skylt/2ff638c7f57b03d81178b3b028296b12)
- b) `4.15.0-42-generic` on ubuntu 18.04, with rocm `2.0.white-rabbit`

[2018-12-13 18:03] furkan-kucuk commented on #327
Yeah it is true. PyCharm is running up a fresh container every time.

Well, I kinda solved the situation in a temporary way. I set up a container from original pytorch-rocm image, pip installed the  needed packages, and created another image from that container. I did the same thing before, it diddn't work. Oddly, now it seems like working for now.

Any experience on PyCharm? Is there a way to run

[2018-12-16 11:25] csuji opened #333 "[Pytorch] Tensor tutorial examples hang"
## 🐛 Bug
Trying to execute this examples from Pytorch tutorial (https://pytorch.org/tutorials/beginner/pytorch_with_examples.html#pytorch-tensors, https://pytorch.org/tutorials/beginner/pytorch_with_examples.html#pytorch-defining-new-autograd-functions) hangs after first iteration. Others like this work https://pytorch.org/tutorials/beginner/pytorch_with_examples.html#pytorch-tensors-and-autograd

[2018-12-20 02:08] Indrashish opened #335 "PyTorch Performance Drop for Resnet50 and Resnet101"
## 🐛 Bug

We are observing consistent performance drops for Resnet50 and Resnet101 with PyTorch on both Vega20 and MI25. MIOpen commit details below.

MIOpen Commit Details
commit 74782da0cf9b1dff8ea6dcfe14e450a3531359d1
Author: Daniel Lowell <daniel.lowell@amd.com>
Date:   Mon Dec 17 16:53:33 2018 -0600

    Removed redundant else condition.

## To Reproduce

Steps to reproduce the behavior:

1.

[2018-12-21 17:42] iotamudelta commented on #329
@ubombi Please follow these instructions: https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-Caffe2-for-ROCm if you haven't already. Thanks!

[2018-12-21 17:44] iotamudelta commented on #328
@skylt Thanks, this is helpful. There is no `2.0.white-rabbit`. Could you provide `apt list | grep rocm`? Thanks!

The instability looks like a kernel driver issue on `gfx803`

[2019-01-02 18:21] gateway opened #337 "Building PyTorch w/o Docker ?"
Hi, Im trying to get my AMD system set up to run some torch software , I prefer not to have to mess with Docker, is there a reason to do this ?

Is there a way to build this w/o docker?

[2019-01-02 19:32] iotamudelta commented on #337
Sure, make sure that you install the dependencies as listed inside the docker files and follow the subsequent steps afterwards.

[2019-01-03 16:04] dagamayank commented on #335
@iotamudelta whats the deal with this one? Is this dependent on caching the `workspace-size` fix?

[2019-01-03 16:14] iotamudelta commented on #335
@dagamayank correct.

[2019-01-03 20:00] dagamayank commented on #335
/cc @jedwards-AMD

[2019-01-04 20:06] iotamudelta commented on #329
@ubombi can you confirm that it now works? thanks!

[2019-01-04 20:06] iotamudelta commented on #57
Can be closed - is outdated.

[2019-01-04 20:06] #57 closed

[2019-01-04 20:07] iotamudelta commented on #56
Works now.

[2019-01-04 20:07] #56 closed

[2019-01-04 20:07] iotamudelta commented on #59
Exists.

[2019-01-04 20:07] #59 closed

[2019-01-04 20:07] iotamudelta commented on #114
As of ROCm 1.9.2, this now works.

[2019-01-04 20:07] #114 closed

[2019-01-04 20:08] iotamudelta commented on #64
CI uses `sccache` successfully.

[2019-01-04 20:08] #64 closed

[2019-01-04 20:21] mwootton commented on #335
So to be clear.  I am looking for a commit in MIOpen that causes miopenConvolutionForwardGetWorkSpaceSize (+bd + bw) to be horribly slow?  This happened between 12/12 and 12/17?

We were dealing with the slow 'GetWorkSpaceSize slowness issue well before that.

If it's not that issue, what kind of performance drop am I looking for?  I need to know this to confirm repro.

[2019-01-04 20:23] iotamudelta commented on #335
No, this will be solved by the caching, I think. The regression seems to align with the larger perf db.

[2019-01-04 20:52] mwootton commented on #335
Alright.  I'll just keep an eye on this.  Let's see where things shake out when the wss_caching gets into circulation.

[2019-01-04 23:13] dagamayank commented on #335
@mwootton when do you think this will be ready?

[2019-01-05 00:15] mwootton commented on #335
The PR is accepted, merged into ROCm:master, and "cherry picked".  I don't know the average time it takes to merge into pytorch:master from there.  Add to that the latency of whoever is building and testing (weekly?).

I'll kick this issue back to the opener when I see the merge happen.  I assume there is periodic testing happening.  This should not be reproducible in the next cycle.

[2019-01-06 22:16] dagamayank commented on #335
@mwootton did you try the fix to check if it makes the performance agnostic of the size of the miopen perf-db? can you report some before/after performance numbers?

[2019-01-06 22:21] iotamudelta commented on #335
@dagamayank see https://github.com/ROCmSoftwarePlatform/pytorch/pull/338

[2019-01-08 13:37] csuji commented on #333
In the meantime I upgraded to rocm 2.0 and rebuild pytorch 1.0.0a0+017503c, same problem:
amdgpu, 2.0-89, 4.15.0-43-generic, x86_64: installed
GPU fan is getting loud while there is only output of the first iteration in console and it is still possible to kill the process with kill PID (Ctrl-C does not work). So there is some calculation ongoing?!

Output of dmesg|grep amdgpu:

[    1.131352] [drm

[2019-01-08 20:43] petrex commented on #179
All available fp 16 unit tests are passing upstream.

[2019-01-08 20:43] #179 closed

[2019-01-13 16:20] furkan-kucuk commented on #337
An installation script may be very good and helpful. I would be grateful if you could provide one for the community!

[2019-01-15 20:21] aurotripathy opened #339 "Need recipe for integrating custom CUDA kernels"
## 📚 Documentation

The PyTorch-based  [Faster R-CNN model](https://github.com/jwyang/faster-rcnn.pytorch) use a few special CUDA kernels such as NMS, ROI_Pooing, ROI_Align and ROI_Crop.

The integration steps under CUDA are available [here  ](https://github.com/jwyang/faster-rcnn.pytorch/blob/master/lib/make.sh)

For ROCm integration, I'm guessing the first step is hipification.

`/opt/rocm/hip/b

[2019-01-17 17:03] iotamudelta commented on #31
@sergey-serebryakov We are actively working on adding multi-GPU support. We hope to have news on experimental support soon!

[2019-01-17 23:22] sergey-serebryakov commented on #31
@iotamudelta Thank you! Looking forward to it.

[2019-01-18 20:18] aurotripathy opened #340 "[caffe2] For those sorting out GPU support and number of GPUs..."
## 📚 Documentation

... the following works

[code]

[2019-01-29 02:04] nsburbank opened #341 "Building PyTorch for ROCm instructions"
The latest ROCm PyTorch docker image (rocm/pytorch:rocm2.1) appears not to include Boost, resulting in a build failure when following the recommended build process at https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm.

After manually installing Boost, PyTorch builds successfully.

[2019-01-29 02:13] iotamudelta commented on #341
Known issue w/ ROCm 2.1 RC1, will be fixed in ROCm 2.1 RC2

[2019-01-29 02:13] #341 closed

[2019-01-31 02:44] Indrashish commented on #335
Issue resolved.

[2019-01-31 02:44] #335 closed

[2019-02-05 17:47] aurotripathy commented on #340
Nope, nothing actionable.
Thank  you for asking.
What I hear is that the APIs (hip vs gpu) will be harmonized soon.

[2019-02-06 05:39] #340 closed

[2019-02-07 03:30] Burstaholic opened #342 "Cannot train on gfx803"
## 🐛 Bug

Compiling PyTorch in the `rocm/pytorch:rocm2.1` docker, I'm getting a ton of `warning: loop not unrolled`  printing out. I don't see them in any of your CI output or other snippets posted here, so I wondered if this might be the reason for my problems. I have three tests failing, two with errors similar to another open issue, and neural network training isn't working for me.

In the PyTo

[2019-02-07 03:59] iotamudelta commented on #342
The loop unroll warning is just a performance warning that the compiler backend recently introduced. It will not affect correctness.

That being said, your training accuracy being off is a problem. Let's look int that.

First: We do not observe the unit test failures you report on gfx900 or gfx906. Can you confirm you are running the unit tests with `PYTORCH_TEST_WITH_ROCM=1`?

Second: Can you poi

[2019-02-07 06:34] aurotripathy opened #343 ""torch._C._cuda_getDevice()" fails in Python3 but succeeds in Python2"
**Python3**
[code]

**Python2**

[code]

Python3 was built as follows:

First installed the following:

[code]
then built with no changes

`.jenkins/pytorch/build.sh
`

[2019-02-07 15:10] Burstaholic commented on #342
Sure - I'm following https://rocm-documentation.readthedocs.io/en/latest/Deep_learning/Deep-learning.html#building-pytorch-for-rocm and I do see a number of `skipped "test doesn't currently work on the ROCm stack"` messages in my output.

The tutorial is here: https://pytorch.org/tutorials/beginner/blitz/cifar10_tutorial.html#training-on-gpu
The actual changes to use CUDA are not in the downloadab

[2019-02-07 15:14] iotamudelta commented on #342
OK, we can correctly train the mnist example on gfx900 and gfx906 - so this must be a gfx803 issue.

[2019-02-07 15:17] iotamudelta commented on #343
We do not currently support py3 but are working on that.

I do not recommend the approach you are taking. We will, in line with upstream, publish a correctly setup py3 docker image.

[2019-02-07 16:43] aurotripathy commented on #343
Thanks @iotamudelta

Is there a recommended (stop-gap) approach to building py3 support?

[2019-02-07 17:16] Burstaholic commented on #343
The way I did it was modifying the critical line from the build script and running it directly:
`MAX_JOBS=4 USE_ROCM=1 USE_LMDB=1 USE_OPENCV=1 python3 setup.py install --user`

This will compile and install PyTorch if you've already 'hip-ified' the source. If not, `python tools/amd_build/build_amd.py` first (since it's in-place text replacement I think python version doesn't matter for that part).

[2019-02-07 17:29] aurotripathy commented on #343
@Burstaholic,  thank you for the tips. Where I'm blocked with Python 3 is below:
[code]
I'll be grateful is you could test the above in your environment.

[2019-02-08 00:09] Burstaholic commented on #343
[code]

[2019-02-08 01:39] aurotripathy commented on #343
Beautiful, hoping to get there with your steps.

[2019-02-13 00:51] aurotripathy opened #345 "Minor format error terminates the unit-test run."
## 🐛 Bug

## To Reproduce

1. Use option 3 from here https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm

2. In step 5, there's a choice (not sure why)  to use one of two repos. Use the first one.
`git clone https://github.com/pytorch/pytorch.git` **or**
`git clone https://github.com/ROCmSoftwarePlatform/pytorch.git `

3. Once built, run the unit-tests with the command b

[2019-02-13 14:38] iotamudelta commented on #345
There is a choice as we have an upstream and our fork.

This looks to me like an upstream issue.

[2019-02-14 19:09] aurotripathy commented on #345
OK, will use the second repo. Thank you.

[2019-02-14 19:09] #345 closed

[2019-02-19 20:04] iotamudelta commented on #333
@csuji Can you test with our ROCm 2.1 docker images - we fixed a hang bug in that release. Thanks!

[2019-02-20 20:15] iamkucuk commented on #337
Any progress on that?

[2019-02-21 10:49] csuji commented on #333
@iotamudelta Ok, thanks! Tested with docker image rocm/pytorch:rocm2.1_ubuntu16.04_pytorch_gfx900. Works now!

[2019-02-21 10:49] #333 closed

[2019-02-22 15:03] Delaunay commented on #337
@iotamudelta can you point me to the docker file you are referring to ? Is it that [one][1] ?

This is what I did to compile pytorch:

0. Install pytorch dependencies, `rocm-dev` and a bunch of rocm libraries. CMake will gracefully tell you which are missing

1.  execute `./.jenkins/caffe2/build.sh`
it hipifies the caffe2 source code, generating the missing files required for the compilation.
You

[2019-02-22 16:50] iotamudelta commented on #337
@Delaunay yes, that Dockerfile is part of it - I'd recommend using https://github.com/ROCmSoftwarePlatform/pytorch/blob/master/docker/caffe2/jenkins/build.sh with "py2-clang7-rocmdeb-ubuntu16.04" as the argument if you build your own docker. A standalone Dockerfile is here: https://raw.githubusercontent.com/wiki/ROCmSoftwarePlatform/pytorch/Dockerfile

Yes, just running `python tools/amd_build/bui

[2019-02-23 17:24] Delaunay commented on #337
I only have 8Go on that machine.
I was able to compile pytorch with ninja (without it the installation fails)
but the version I compiled is not functional.

Would you know it is an issue with the configuration of the compilation or if the kernel is really missing ?
Thanks

[code]

[2019-02-23 21:46] iotamudelta commented on #337
@Delaunay what GPU do you have? We currently need to compile specifically for a microarchitecture (changes to that are incoming). Export `HCC_AMDGPU_TARGET` prior to building to your uarch - either `gfx803` (which we do not support well in PT, if you find issues please report them), `gfx900` (Vega64/Vega56 generation, these work well), or `gfx906` (Radeon VII, this should also work well)

[2019-02-25 12:04] Delaunay commented on #337
Thanks, recompiled it overnight for the gfx803. It is working now.
I only have one test failing on my side. Is it supposed to ?
If not I can open another ticket and gather info on it.

[code]

[2019-02-25 17:20] iotamudelta commented on #337
Yeah, that test works for me on gfx906. So please do open a ticket. I don't have a gfx803 setup currently but I'll try to have a look at it when I do and have time. In the meantime, we can discuss in that ticket how to root cause.

Is that the only failing test? That'd be better than I thought, to be honest.

[2019-02-25 23:02] Delaunay commented on #337
This is what I got on my side overall with `PYTORCH_TEST_WITH_ROCM=1 python test/run_test.py `
- test_autograd  919 tests in 161s (6 skipped)
- test_cuda 154 tests in 19sec (77 skipped, 1 failed)

I also ran resnet18 & resnet50. I will do more testing later but for now the timings looks great.

---

For the person stumbling upon this thread.
You can find below the rough steps describing how to com

[2019-02-25 23:16] Delaunay opened #355 "[GFX803] - Unit Test Failure - test_multinomial_invalid_probs_cuda"
## 🐛 Bug

Failing unit test for the gfx803 GPU arch: `test_multinomial_invalid_probs_cuda`

## To Reproduce

Steps to reproduce the behaviour:

1. `PYTORCH_TEST_WITH_ROCM=1 python test/run_test.py `

[code]

## Expected behavior

Test should pass

## Environment

- PyTorch installed from source
- GPU: RX 580X

### Collected Environment

[code]

### ROCm Stack
[code]

[2019-02-25 23:20] iotamudelta commented on #355
Could you provide the log file of running this test with
`HIP_DB=3 HCC_SERIALIZE_KERNEL=0x6 python test/test_cuda.py TestCuda.test_multinomial_invalid_probs_cuda`

Thanks!

[2019-02-25 23:38] Delaunay commented on #355
Is this it ?
https://gist.github.com/Delaunay/04d6970b85ddf6ccb825f8b02b9921e2

[2019-02-25 23:56] iotamudelta commented on #355
Yep, thanks!

[2019-02-26 09:01] iamkucuk commented on #337
Finally a proper answer! I can't thank you enough for this! Will try it ASAP!

[2019-02-26 18:57] Citronnade opened #356 "Docker image with precompiled Pytorch fails on unit tests, gfx900"
## 🐛 Bug

The docker image provided in https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Running-PyTorch-on-ROCm experiences a segmentation fault on test_attribute_deletion (test_autograd.TestAutograd).

## To Reproduce

Steps to reproduce the behavior:

1. Follow instructions at https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Running-PyTorch-on-ROCm to download and start a container with

[2019-02-26 19:15] ezyang commented on #356
cc @iotamudelta

This is just a doc problem; not all tests run correctly and you must run with `PYTORCH_TEST_WITH_ROCM=1` to skip failing tests that are known broken

[2019-02-27 19:24] iamkucuk commented on #337
Quick questions: I don't have any info about Ninja. Is this the package manager you are talking about?
Is there a documentation for how to use it and using pip instead of ninja causes any trouble?
Where can I find a RocM alternative for magma-cuda dependency? Or should I just ignore it?

[2019-02-27 23:59] Delaunay commented on #337
ninja is just the build system that pytorch can use to compile itself. You do not have to use it.
it is explained [here][1].

ROCm has rocblas and miopen for linear algebra and Machine learning primitives respectively.
I did not see anything about it when I installed pytorch.

[1]: https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md

[2019-02-28 03:00] Delaunay commented on #328
I noticed that sometimes hcc is launched prior to the training beginning.
What is it doing ? Testing different kernels ? Compiling missing kernels ?
Compiling the best kernels according to MIOpen's DB?

The compilation step seems to disappear after the first script run.
Is it correct to assume the timings after that first run should be consistent ?

You can find the results of the test I ran prior

[2019-02-28 11:58] masahi commented on #337
@Delaunay thanks for the info I managed to build pytorch from source on my box ! I should mention that I had to install [thrust hip port](https://github.com/ROCmSoftwarePlatform/Thrust) to build caffe2.

[2019-02-28 12:53] Delaunay commented on #337
thanks, I updated the list of dependencies

[2019-02-28 15:56] iotamudelta commented on #328
Concerning your questions: we do compile some kernels the first time we run them and subsequently get them from cache. So you are correct that the second time you'll invoke these kernels will be what you want to time.

I think the performance you observe makes sense. I'd expect resnet18 to get better as you tune MIOpen and in general I've observed that larger batch sizes help - so judging from you

[2019-02-28 15:58] iotamudelta commented on #356
@Citronnade could you pull the latest docker image `rocm/pytorch:rocm2.2_ubuntu16.04_pytorch` and try with that? I can confirm that it passes the tests w/ `PYTORCH_TEST_WITH_ROCM=1` on my Vega64 card. If you still see failures, I'd like to look at what gfx900 card you are running on. Thanks!

[2019-03-01 08:43] Citronnade commented on #356
I pulled the new image and ran it using the same command as in the documentation, but just referring to the new image instead.  Host system ROCm version is still 2.1.96, docker image is on 2.2.22.  I no longer segfault on that test, but instead I fail another test, in test_cuda:

[code]

Updated output of `collect_env.py`:
Collecting environment information...
PyTorch version: 1.1.0a0+6706e9a
Is d

[2019-03-01 14:07] Dekken opened #361 "Failed to find hip-config.cmake on master"
[code]

[code]

[2019-03-01 17:31] Delaunay commented on #361
Do you have the `rocm-cmake` package installed ?

[2019-03-01 18:15] Dekken commented on #361
I didn't, but it doesn't appear to make any difference

[2019-03-01 22:55] iotamudelta commented on #361
@Dekken are you building directly on your host or within our docker images?

[2019-03-01 22:55] Dekken commented on #361
Host

[2019-03-01 22:56] iotamudelta commented on #361
could you give me `ls -l /opt/rocm/hip/cmake/` ?

[2019-03-01 22:57] Dekken commented on #361
[code]

[2019-03-01 22:58] iotamudelta commented on #361
With the caveat that I do not recommend you do this on your host as it changes the ROCm installation, this should help:

``
sed -i 's/find_dependency(hip)/find_dependency(HIP)/g' /opt/rocm/rocsparse/lib/cmake/rocsparse/rocsparse-config.cmake
    sed -i 's/find_dependency(hip)/find_dependency(HIP)/g' /opt/rocm/rocfft/lib/cmake/rocfft/rocfft-config.cmake
    sed -i 's/find_dependency(hip)/find_depen

[2019-03-01 23:00] Dekken commented on #361
if this is a required change should it not be done through another means?

[2019-03-01 23:01] iotamudelta commented on #361
We currently do recommend you do use our docker image where this is correctly setup.

[2019-03-01 23:02] Dekken commented on #361
this is not acceptable

docker is a convolution

[2019-03-01 23:04] Dekken commented on #361
please consult @dagamayank

[2019-03-02 15:08] geekboood commented on #328
I wonder about how you get such a nice result.
I use one RX480 but I only got about 83.92 img/sec.

[2019-03-02 22:25] Delaunay commented on #328
Single GPU. I don't know where the differences could come from; I did not do anything in particular.
How did you measure the compute time ?

[2019-03-02 23:35] geekboood commented on #328
I used the benchmark script in `https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Performance-analysis-of-PyTorch`

[2019-03-03 02:18] Delaunay commented on #328
I see; I did not run the same script and mine had a bug. You can find the updated numbers below.

I have not started to benchmark anything else yet. I will probably next week.
I would not expect everything to work perfectly yet. NVIDIA had a lot of time to tunes their library for a lot of different application that does not mean the underlying hardware is not capable of the same performance.

I do

[2019-03-04 03:22] internetchild opened #365 "Does it support for Ubuntu18.04?"
Does it support for Ubuntu18.04?
If yes, how to build pytorch for Ubuntu18.04? thank you

[2019-03-04 10:43] Dekken commented on #361
might want to add "rccl" to your list of sed commands

[2019-03-04 11:51] Dekken commented on #361
after seding "rccl" too it still fails

[2019-03-04 13:46] Delaunay commented on #365
I was able to make it work on xubuntu 18.10 on python3.
I posted the rough steps I followed to get it to compile [here][1].
I may have missed some dependencies but it should work.

[1]: https://github.com/ROCmSoftwarePlatform/pytorch/issues/337#issuecomment-467220107

[2019-03-04 13:50] Delaunay commented on #361
I did not have to sed anything on my end to make it work.
I think you might just have a dependency missing.
This is all the libraries I see when I do cmake:

- rocrand
- hiprand
- rocblas
- miopen
- miopengemm
- rocfft
- rocsparse
- rocm-cmake
- rocm-dev
- rocm-device-lib
- rocm-libs
- hcc
- hip_base
- hip_hcc

[2019-03-04 14:18] Dekken commented on #361
[code]

[2019-03-04 16:25] iotamudelta commented on #361
@Dekken did you run `python tools/amd_build/build_amd.py` first? With what env variables are you invoking `python setup.py install`?

[2019-03-04 16:58] Dekken commented on #361
no, I didn't know that file existed

but it appears to have been a requirement

[2019-03-04 17:47] Dekken commented on #361
Am I supposed to install a specific version of "libthrust-dev"?

[code]

[2019-03-04 18:26] Delaunay commented on #361
hip-thrust

https://github.com/ROCmSoftwarePlatform/pytorch/issues/337#issuecomment-467220107

[2019-03-04 20:04] Dekken commented on #361
seems ok now

[2019-03-05 17:40] iotamudelta commented on #328
@Delaunay this is very interesting data, thanks for posting it here! Which PyTorch commit did you use for your test? Your fp16 data looks correct for gfx803.

@geekboood could you post a link to the benchmark you were running? I'd be interested in having a look at it. Thanks!

[2019-03-05 18:45] iotamudelta commented on #365
@internetchild ROCm itself is supported on Ubuntu 18.04. PyTorch should work but we do not claim any support for it. @Delaunay posted steps to build it on 18.10 which you can follow.

If you look at the upstream CI, ROCm is a build and tested target on Ubuntu 16.04 and CentOS 7.5. If using a docker is acceptable to you, I'd recommend pulling the 16.04 docker on 18.04, I've successfully ran this co

[2019-03-05 18:45] #365 closed

[2019-03-05 18:45] iotamudelta commented on #361
@Dekken can you close this issue if this works now? Thanks!

[2019-03-05 18:46] #361 closed

[2019-03-05 19:43] Dekken opened #366 "Division By Zero where it not expected"
Following on from https://github.com/atomistic-machine-learning/schnetpack/issues/60

No Div0 on Nvidia 1080ti

[2019-03-05 23:31] Delaunay commented on #328
The commit I used was `ffcbf1bd1` from `Fri Feb 22 16:36:06 2019 -0800`.
Yes this is for gfx803.

[2019-03-05 23:38] iotamudelta commented on #328
Thanks, very good! It may be interesting to rerun this benchmark after `3ed44b67` is included for ROCm.

[2019-03-06 00:48] geekboood commented on #328
@iotamudelta The ResNet one is already in the link above.
As for the DrQA, I use this `https://github.com/facebookresearch/DrQA` code and train on CMRC dataset. You can also train the reader on Squad dataset.
If you want to inspect the performance of ROCm, you can have a look at this one `https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/173#issuecomment-469017319`. I have also do

[2019-03-08 00:37] Delaunay opened #369 "[GFX803] Memory Access Fault during backward propagation"
## 🐛 Bug

Memory Access Fault during backward propagation

[code]

## To Reproduce

Run the script below

[rocm_memory_access_fault .py.txt](https://github.com/ROCmSoftwarePlatform/pytorch/files/2943906/rocm_memory_access_fault.py.txt)

## Expected behavior

Should run successfully

## Environment

[code]

 - Python version: 3.6
 - GPU models and configuration: Single RX580 GPU

* debug output `HI

[2019-03-08 16:26] iotamudelta commented on #369
@Delaunay can you add `MIOPEN_ENABLE_LOGGING_CMD=1`? This should print the MIOpen command causing the failure (as an miopendriver command line). If you could see if it segfaults also w/o PyTorch just in MIOpen, that'd be great!

[2019-03-08 17:41] Delaunay commented on #369
[code]

Seems MIOpen is the one failing

[code]

[2019-03-08 18:16] Delaunay commented on #369
@iotamudelta  I have found another access fault that is also caused by MIOpen.
Do you want me to bundle the faults and post the issue on MIOpen repo directly ?

[2019-03-08 20:19] iotamudelta commented on #369
@Delaunay thanks, I'll see report this also internally.

[2019-03-12 16:56] hameerabbasi commented on #337
https://github.com/ROCmSoftwarePlatform/pytorch/issues/337#issuecomment-467220107 doesn't seem to work for me. I get this error no matter what I try:

[code]

I'm willing to help debug the issue, I have all dependencies already installed.

[2019-03-12 19:35] billwebb opened #373 "Pytorch / python3"
## 📚 Documentation

I need to run pytorch with python3, as the projects I need to work on are currently python3 based.

I've tried following these instructions (below) which all provide pytorch for python2. I've made unsuccesful attempts to build pytorch with python3 with no luck. Any suggestions?

https://rocm-documentation.readthedocs.io/en/latest/Deep_learning/Deep-learning.html#recommended-ins

[2019-03-12 19:59] Delaunay commented on #373
I built rocm pytorch with python 3.6.
There is nothing py3 specific to do.

I wrote the rough steps I followed [here][1]

[1]: https://github.com/ROCmSoftwarePlatform/pytorch/issues/337#issuecomment-467220107

[2019-03-13 01:56] iotamudelta commented on #373
@billwebb if you want to use docker (which I recommend), please pull `rocm/pytorch:rocm2.1_ubuntu16.04_py3.6`, subsequently, follow the steps in the documentation replacing `python` with `python3.6`.

A few notes: we are not running py3 on the PyTorch CI currently for ROCm. We are using it for some things internally and there are only a few unit test failures specific to 3. If you run into any iss

[2019-03-13 10:39] billwebb commented on #373
root@f508b0a55dc9:/data/project/pytorch2/pytorch# PYTORCH_TEST_WITH_ROCM=1 python3.6 test/run_test.py --verbose
Traceback (most recent call last):
  File "test/run_test.py", line 16, in <module>
    import torch
  File "/root/.local/lib/python3.6/site-packages/torch/__init__.py", line 79, in <module>
    from torch._C import *
ImportError: /root/.local/lib/python3.6/site-packages/torch/lib/libtorc

[2019-03-13 19:49] iotamudelta commented on #373
@billwebb is this in the docker or on host? We haven't seen this issue in the docker.

[2019-03-13 20:08] billwebb commented on #373
This was in the docker.

[2019-03-14 09:39] billwebb commented on #373
Just tried it again.. Same results.  Here are the steps I followed -

Running Ubuntu 18.04.1 LTS

docker pull rocm/pytorch:rocm2.1_ubuntu16.04_py3.6

git clone https://github.com/pytorch/pytorch.git
cd pytorch
git submodule init
git submodule update

docker run -it -v $HOME:/data --privileged --rm --device=/dev/kfd --device=/dev/dri --group-add video -p 5000:8888 -p 5001:6006 rocm/pytorch:rocm2.1_

[2019-03-15 17:48] iotamudelta commented on #373
@billwebb can you not do the export step? We are by default supporting all ROCm architectures in PyTorch now. Please also do
`USE_ROCM=1 USE_LMDB=1 USE_OPENCV=1 python setup.py install`

Also, there is a docker image w/ PyTorch installed available: `docker pull rocm/pytorch:rocm2.2_ubuntu16.04_py3.6_pytorch`

[2019-03-15 19:31] iotamudelta commented on #337
@Delaunay could you remove step #6 pertaining to `HCC_AMDGPU_TARGET`? The default is multi-arch now and it's a debug flag of the compiler that I'd rather we not continue exploit. :-)

[2019-03-15 22:46] Delaunay commented on #337
nice, I updated it

[2019-03-16 00:03] aurotripathy commented on #343
Closing this as ` rocm/pytorch:rocm2.2_ubuntu16.04_py3.6_pytorch` is now available. (#373)
Be sure to invoke with `python3.6 `if you use the container.

[2019-03-16 00:03] #343 closed

[2019-03-19 08:16] billwebb commented on #373
Thanks.  I am able to o get the docker w/ PyTorch working. But, I need to use Unity and ml-agents with this.  Any suggestions for the best way to do that?

[2019-03-20 00:38] billwebb commented on #373
And I've also tried installing the dependencies directly on my machine and building there.  I have hip clearly installed, but the build script isn't finding it..
``
-- Using third party subdirectory Eigen.
Python 3.6.7
-- Found PythonInterp: /usr/bin/python3.6 (found suitable version "3.6.7", minimum required is "2.7")
-- Found PythonLibs: /usr/lib/libpython3.6m.so.1.0 (found suitable version "3.6

[2019-03-29 03:24] geekboood commented on #369
@iotamudelta Do you have a timeline when this problem could be fixed? I encounter the same issue on both Tensorflow and Pytorch.

[2019-03-29 14:51] Delaunay commented on #369
In the MIOpen thread there is an instruction to download an dev version of the opencl driver that fixes the issue.

[2019-03-29 16:14] billwebb commented on #373
Looks like this is being listed as a feature request?

In the mean time, any suggestions how to get around this?

CMake Error at /usr/share/cmake-3.10/Modules/CMakeFindDependencyMacro.cmake:48 (find_package):
By not providing "Findhip.cmake" in CMAKE_MODULE_PATH this project has
asked CMake to find a package configuration file provided by "hip", but
CMake did not find one.

Could not find a packag

[2019-03-29 19:02] iotamudelta commented on #369
If it's in dev, then I'd think it should be in the next ROCm release. Does the dev version fix things for you completely?

[2019-03-29 19:07] Delaunay commented on #369
I have not seen that issue in a while.

[2019-03-29 19:09] iotamudelta commented on #369
@geekboood are you on ROCm 2.2? Can you confirm the dev driver fixes the issue for you? Thanks!

[2019-03-30 07:32] geekboood commented on #369
@iotamudelta I am using ROCm 2.1 and I have just seen some solutions to roll back to ROCm 1.9.2. However, it doesn't work for me.

[2019-04-01 16:49] harish2704 opened #382 "torch.utils.cpp_extension.CUDAExtension is still not ported"
## 🐛 Bug

`torch.utils.cpp_extension` is the module used by many Pytorch extensions to build a  python module
This module should support building a pytorch extension using ROCm libraries.

For example, there is a `CUDAExtension` class in this module. I wish if there were a similar class `HCCExtension` exists which enables us to build python extensions easly.

## To Reproduce

I found this issue wh

[2019-04-06 17:17] Delaunay opened #388 "Use MIOpen Optimized RNN layers"
## 🚀 Feature

At the moment rocm pytorch RNN cells use aten GPU code to run RNN and not [MIOpen optimized implementation][1].

[1]: https://github.com/ROCmSoftwarePlatform/MIOpen/blob/6c130927bc5053eb4290dd937ecd1514d3283c00/include/miopen/miopen.h#L2191

## Motivation

* RNN is significantly slower on AMD (x3 on my hardware, RX580 vs 1060)

[2019-04-13 09:51] wormwang opened #392 "build guide without docker"
## 📚 Documentation

Hi
I want building pytorch from source without docker.
Pls give a guide for that.

[2019-04-17 11:15] Delaunay opened #395 "No CUDA implementation of 'syev'"
I am not sure if it is a missing feature or I missed a dial in my compilation.
`syev` is the symmetric (sy) eigen value (ev) solver.

## 🐛 Bug

[code]

## To Reproduce

run https://github.com/ikostrikov/pytorch-a2c-ppo-acktr-gail with `--env-name "PongNoFrameskip-v4" --num-steps 32 --num-processes 16 --algo acktr`

## Environment

[code]

[2019-04-17 15:33] iotamudelta commented on #395
Unfortunately, this functionality relies on MAGMA. There is currently no MAGMA implementation for ROCm or an equivalent library satisfying the required interface.

So it's an unsupported feature currently.

[2019-04-17 15:33] #395 closed

[2019-04-17 18:20] aurotripathy commented on #395
@Delaunay , if you want to skip  A2C and go to a A3C model with Atari games, [this](https://github.com/dgriff777/rl_a3c_pytorch) project works out-of-the-box for ROC 2.2/Pytorch/Python3

[2019-04-19 20:02] Delaunay opened #398 "Slow matrix multiply"
Matrix multiply through pytorch is slow.
This causes reinforcement learning models / robotics models to run slow

[code]

[code]

[2019-04-19 20:14] iotamudelta commented on #398
@Delaunay can you tell whether this holds true across the board or just for a few outliers?

[2019-04-19 20:39] Delaunay commented on #398
On average it is significantly slower. With the best configuration I had on the R VII ran 40%  slower than the 2080Ti. Given the results I had with convnets it should be at most 20% slower.  The worst configuration ran down to 95% slower.

I think overall smaller configuration perform a lot worse and I could probably get close to 2080Ti results with huge matrices.

The configurations that ran the

[2019-04-19 20:40] Delaunay commented on #398
[GeForce_RTX_2080_Ti.txt](https://github.com/ROCmSoftwarePlatform/pytorch/files/3099282/GeForce_RTX_2080_Ti.txt)
[Vega_20.txt](https://github.com/ROCmSoftwarePlatform/pytorch/files/3099283/Vega_20.txt)

[2019-04-19 21:54] iamkucuk commented on #337
@Delaunay Hi mate! I'm trying to build pytorch with your way, however I'm experiencing some issues. Here is my script. Can you check it out? https://gist.github.com/iamkucuk/c8f74ec6d4f91804d6ff3d1006f26040

[2019-04-19 21:59] iotamudelta commented on #398
Thanks so much! I took one of the worst configs (8/2048/512) and profiled it. Looks like the time is entirely spent inside of our rocBLAS library - I was expecting that. I'll talk to those folks to see what we can do about the performance there.

[2019-04-22 15:15] Delaunay commented on #398
I reran the test using [deep_bench_nn.csv][1] from the tensile repo: R VII vs 2080Ti.
Posting the results

Average | -39.69%
-- | --
Median | -45.96%
Max  | +40.36%
Min | - 82.33%

[code]
[tensile_bench.txt](https://github.com/ROCmSoftwarePlatform/pytorch/files/3103810/tensile_bench.txt)

[1]: https://github.com/ROCmSoftwarePlatform/Tensile/blob/develop/Tensile/Configs/deep_bench_nn.csv

[2019-04-22 20:10] mwootton commented on #366
I was able to run the network with no issue using this docker hub image: rocm/pytorch:rocm2.2_ubuntu16.04_py3.6_pytorch

[code]
Can you still recreate this issue?  Card type?

[2019-04-23 20:32] iotamudelta commented on #392
Please find one here: https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm#option-4-install-directly-on-host

Note that this requires good knowledge of your operating system, it's package manager, and does unfortunately require a manipulation of your ROCm install in step 4) of that documentation.

[2019-04-23 20:32] #392 closed

[2019-04-23 20:34] iotamudelta commented on #337
We added documentation for host installs here: https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm#option-4-install-directly-on-host

Please note that this requires good knowledge of your operating system, its package manager, and unfortunately in step 4) makes alterations to the ROCm install itself - we are hoping to fix the last in the future.

[2019-04-23 20:36] iotamudelta commented on #373
@billwebb this looks like the case sensitivity issue we are solving in step 4) of https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm#option-4-install-directly-on-host this by altering the ROCm install. I hope this to be a temporary hack.

[2019-04-23 20:38] iotamudelta commented on #329
Closing issue for now as I assume this to be fixed.

[2019-04-23 20:38] #329 closed

[2019-04-23 20:40] iotamudelta commented on #258
Closing this issue as we are now at ROCm 2.3 and tests should have stabilized. @odellus @matthewmax09 please update and re-open if this is not the case, thank you!

[2019-04-23 20:40] #258 closed

[2019-04-23 20:42] iotamudelta commented on #356
@Citronnade could you confirm this is still an issue w/ ROCm 2.3? I cannot reproduce it.

[2019-04-23 20:43] iotamudelta commented on #355
@Delaunay does this test work with ROCm 2.3? We've gotten some fixes into that release that should help.

[2019-04-23 21:15] iotamudelta commented on #369
Closing issue as not observed any longer by @Delaunay - please reopen if this issue is still observed

[2019-04-23 21:15] #369 closed

[2019-04-24 12:15] Delaunay commented on #355
Still there, a bunch more failed.

[code]

The commit hash I used was `033bb606196178` Mon Apr 22 11:55:19 2019 -0500

[2019-04-24 13:10] Delaunay commented on #355
Yes issue is still there and more pop up.

https://gist.github.com/Delaunay/e0660ef385bbf642683c13635ce8b40c

[2019-04-24 13:55] Dekken commented on #366
Will check soon thanks

[2019-04-25 06:45] iamkucuk commented on #337
Why don't you provide a script for full installation process? PyTorch is becoming more popular, especially in academic world.

[2019-05-17 21:10] iotamudelta commented on #388
@Delaunay to update here, I've also recently looked at the aten implementation and found quite some time spend in matrix multiplications. So tuning as for #398 will apply.

[2019-05-17 21:26] iotamudelta commented on #398
@Delaunay this should get better w/ the upcoming ROCm 2.5 release

[2019-05-17 21:49] Delaunay commented on #398
Great news! Will it include RCCL 2 as well ? I think it is the only missing piece for distributed training in pytorch.

[2019-05-17 21:51] iotamudelta commented on #398
You can already use distributed w/ GPU to host communication as of ROCm 2.4. I cannot comment on the RCCL roadmap here, sorry.

[2019-05-17 22:17] Delaunay commented on #398
Np, so the TCP backend should work ?

[2019-05-17 22:20] iotamudelta commented on #398
so far we've tested intranode multi-GPU, not internode.

[2019-05-19 22:28] Delaunay commented on #398
I was able to test intra node multi-GPU (2).
I used gloo backend (TCP is deprecated) and had to do the all reduce on the CPU.
CPU is eating all the perf gain but at least it works.

One thing I noticed is that the compilation happens on all processes, but given the nature of python I am not sure if it can be avoided.

| GPU Count | Batch Size Per GPU | Img /sec |
|---|------|------|
| 1 | 32 | 131

[2019-05-20 17:49] #176 closed

[2019-05-20 19:42] jithunnair-amd commented on #398
What number do you get for 64/128 batch size per GPU? Also, the img/sec remains the same for you regardless of 1 or 2 GPUs? Are you using the torch.DataParallel api?

[2019-05-20 20:53] Delaunay commented on #398
the img /sec is computed like so (batch_size * number of GPU / time).
The code is here is you are [interested][1].

If I do

vs

I get something like 90 img/sec vs 50 img/sec, which is the expected outcome.

but If I do `python micro.py --network resnet101 --batch-size 16 --iterations 10` using your [micro benchmark script][2] I get `Throughput [img/sec] : 118.33301211897968`.

So the numbers are

[2019-05-24 00:41] aurotripathy opened #411 "torchvision 0.3.0 is installing PyTorch 1.1.0 (CPU version) and removing ROCm/PyTorch"
The latest torchvision, 0.3.0, is installing PyTorch 1.1.0 (CPU version) and removing ROCm/PyTorch
Looks like torchvision 0.3.0 _requires_ PyTorch 1.1.0.
My workaround is to `pip install torchvision==0.2.0`
Is there any other install option?
Is this temporary?

[2019-05-24 01:02] Delaunay commented on #411
I have the same issue.
I think another work around would be to use `pip install --no-deps torchvision`

[code]

[2019-05-24 06:49] hameerabbasi opened #412 "Compilation error on clang-8."
## 🐛 Bug

I get compilation errors on clang 8, building from commit
d73caca2a16dd1bcbc4940f4fb08ae73519eedd8.

For reference, Clang 7 is fine.

## To Reproduce

Steps to reproduce the behavior:

1. Follow the steps in: https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm#option-4-install-directly-on-host and use `CC=clang-8 CXX=clang++-8`

<details>
<summary>Compilation l

[2019-05-25 06:58] pramenku commented on #411
Issue was due to torch commit https://github.com/pytorch/vision/commit/06b9b0fc53536c20dfca2de78c7df695b3c6c4d1

It has been fixed in latest vision commit  https://github.com/pytorch/vision/commit/c7a4ca99747bed619a5aa6a7a2814c26ce3622b6

We can build torchvision as below

git clone https://github.com/pytorch/vision --quiet
cd vision
pip install --user .

[2019-05-26 12:21] Dekken commented on #366
I haven't gotten around to testing this but I'll take your word for it!

[2019-05-26 12:21] #366 closed

[2019-05-28 17:00] billwebb commented on #373
Thanks.  That helps get me further.  Now, seeing this issue.  Any suggestions?

[code]

[2019-05-28 17:53] iotamudelta commented on #373
Unfortunately the output is too short. Could you do a `python setup.py clean`, try to compile again and attach the full compile log here? Thanks!

[2019-05-29 16:49] aurotripathy commented on #411
Thanks all, closing.

[2019-05-29 16:49] #411 closed

[2019-05-31 20:26] billwebb commented on #373
Build log is attached.
[pytorch-build.log](https://github.com/ROCmSoftwarePlatform/pytorch/files/3242776/pytorch-build.log)

[2019-06-10 23:04] Delaunay commented on #398
Just re ran with rocm2.5 the matrix multiply benchmark.
On average improvements of +30%. Max improvement 321%, max regression -66%

Compared to the 2080Ti best configuration is 102% faster; the worst is 71% slower.

[tensile_bench.txt](https://github.com/ROCmSoftwarePlatform/pytorch/files/3274084/tensile_bench.txt)

[2019-06-11 06:39] iotamudelta commented on #398
@Delaunay thanks for checking this - so overall it seems to be more solid now? I'll see that I can filter for the regressed sizes and have them be checked again.

[2019-06-11 13:22] Delaunay commented on #398
It is hard to say. I think it improved greatly on a lot of problems where the matrices are big and square like
but some problems performing great got their performance greatly reduced like `b x 1 x o`.

I just tried taking the best of 2.5 with the best of 2.4 and from the 28% slower than 2080Ti on average it goes down to 16.27%.

![Screenshot_2019-06-11_07-58-43](https://user-images.githubusercont

[2019-06-14 06:59] wormwang opened #415 "Failed building source with ROCm 2.4 hip"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Ubuntu 18.04.2
2.gcc 7.4.0
3. hip ,hcc from ROCm 2.4

git clone https://github.com/ROCmSoftwarePlatform/pytorch.git
laster master

follow the guide of https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm

Error log:
make[2]: Entering directory '/home/motech/pytorch/build'
[ 89%] Linking CXX executable ../bin/

[2019-06-18 00:51] clemej commented on #388
This may be related, so posting here.

I'm seeing ~10x slower training on the exact same python code using LSTMs on VEGA56 versus a GTX 1070.  rocm-smi reports GPU being used, but clearly not optimally.  Using self-compiled pytorch v1.1.0 from pytorch main repo (not here, should I be using this repo?)  with ROCm 2.5.27 on 18.02.4  .  These are small networks (1x1 input layer, 2x40 LSTM layer, and

[2019-06-18 13:00] Delaunay commented on #388
It is related. Optimized RNN layers include:
* LSTM
* GRU
* RNN_RELU
* RNN_TANH

So it makes sense you see that kind of performance.

[2019-06-19 00:56] clemej commented on #388
I figured. I see the discussion on #398 but I'm running 2.5 and that doesn't seem to help. Any branches I can try?

[2019-06-27 18:49] orena1 opened #425 "wiki documentation is points to wrong version"
## 📚 Documentation

step 2. state : docker pull rocm/pytorch:rocm**2.3_ubuntu16.04**

But in step 4:
sudo docker run -it -v $HOME:/data --privileged --rm --device=/dev/kfd --device=/dev/dri --group-add video rocm/pytorch:rocm**2.1**_ubuntu16.04
you ask to load the wrong docker.

Best,

[2019-06-27 18:51] iotamudelta commented on #425
Thanks, fixed!

[2019-06-27 18:51] #425 closed

[2019-06-27 20:55] orena1 commented on #425
By the way @iotamudelta  is this docker only works with Ubuntu 16.04? if so I think it should state it.
THanks

[2019-06-27 21:04] iotamudelta commented on #425
No, the docker should also work on other Linux operating systems as long as they run the kernel drivers supported by us. E.g., I ran these dockers on Ubuntu 19.04.

[2019-06-27 21:18] briansp2020 opened #427 "Fastai/torchvision support"
## ❓ Questions and Help

I'm trying to get fastai working with ROCm/pytorch and am running into issues. I followed the direction in https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm except that I used rocm2.5_ubuntu16.04_py3.6 as the starting point. I was able to build pytorch and it seems to be installed correctly.

However, torchvision now seems to be built for cuda

[2019-06-27 21:19] briansp2020 commented on #427
Output when trying to load fastai

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-3-283c0d40bede> in <module>
----> 1 from fastai.vision import *
      2 from fastai.metrics import error_rate

/usr/local/lib/python3.6/dist-packages/fastai/vision/__init__.py in <module>
      1 fr

[2019-06-27 21:22] iotamudelta commented on #427
torchvision works for us and on the PyTorch CI by cloning the repository and installing by `python setup.py install`. Can you try that?

Since the ROCm enablement is in upstream PyTorch and being tested as part of the CI, the general public can consume it.

[2019-06-27 21:27] aurotripathy commented on #427
TorchVision 0.3.0 has an issue with ROCm (see #411 for workarounds).

If you really don't need version 0.3.0,

`pip install torchvision==0.2.2` or build it.
[code]

[2019-06-27 21:43] orena1 commented on #425
Thanks a lot, I tried but it required too much Ram (I think that more than the 16GB that is stated in the wiki).

[2019-06-27 22:57] briansp2020 commented on #427
I was able to get fastai notebook to work by installing torchvision 0.2.2 but it does not seem to produce correct answer. Has anyone tried running https://github.com/fastai/course-v3/tree/master/nbs/dl1/lesson1-pets.ipynb?

[2019-06-28 16:31] aurotripathy commented on #427
Did you do the following, i.e. install in no-deps mode.

`pip install --no-deps fastai`

[2019-06-29 00:11] briansp2020 commented on #427
@aurotripathy
Forcing torchvision to v0.2.2 worked. So, I don't have install problem any more. However, fastai course notebook does not work properly (accuracy is very low after training). I hoping the main developers will take a look and see what is wrong. But at the moment, getting fastai library working does not seem like a priority for them...

[2019-07-01 03:34] 401qingkong opened #430 "How to migrate compiled pytorch for direct use"
When I compiled pytorch on one machine, how to migrate it to other machines for direct use.
Are there any files generated like wheel ?
Thanks for your reply in advance!

[2019-07-01 15:20] Delaunay commented on #430
You can use `python setup.py sdist bdist_wheel` to generate a wheel so other users could install your version without doing the compilation step.
`pip install torch-1.1.0a0+d8b9d32-cp36-cp36m-linux_x86_64.whl`

You won't be able to upload it to Pypi because it goes beyond the package size limit.

[2019-07-02 02:08] 401qingkong commented on #430
@Delaunay Thanks for your reply.
Is there any step to generate WHL files in the pytorch compilation process? I did not find it.

[2019-07-02 12:34] Delaunay commented on #430
To my knowledge `python setup.py sdist bdist_wheel` is the only way to generate wheels.
It will re-compile and generate the wheels at the end

[2019-07-03 07:39] 401qingkong opened #432 "Multi-GPU support in ROCm2.5"
I notice your note here[https://rocm-documentation.readthedocs.io/en/latest/Current_Release_Notes/Current-Release-Notes.html](url)
show multi-gpu functional support in rocm2.5. So which version of pytorch should i download and how to compile it. Should i add some args?

[2019-07-03 11:25] Delaunay commented on #432
The multigpu support it compiled by default.
I always use the rocm pytorch master branch. it should be passing all the tests.

[2019-07-03 12:39] 401qingkong commented on #432
@Delaunay I use the master branch of  rocm pytorch. and test it with your micro benchmark here [https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Performance-analysis-of-PyTorch](url)
But it outputs the warning like bleow when i used two gpus:
`[root@8e99eecbb895 amd_pytorch_case]# HIP_VISIBLE_DEVICES=0,1  python3 micro_benchmarking_pytorch.py --batch-size=16 --network=alexnet --dataparallel --

[2019-07-03 13:01] Delaunay commented on #432
You can ignore the warning.
As far as I am aware RCCL support is disabled for now because the underlying library is not ready.

Regarding the micro benchmark script, the batch size you set is for the 2 GPUs.
So if you set `--batch-size=16` the batch size will be split between your two devices making it compute batches of 8. I would try a batch size of 32 so you can compare 2 GPU x 16 vs 1 GPU x 16

[2019-07-03 13:02] 401qingkong commented on #432
Can I run pytorch using horovod？
I compile pytorch with the following command：
`USE_DISTRIBUTED=1 USE_OPENMP=1 USE_MIOPEN=1 USE_ROCM=1 USE_LMDB=1 USE_OPENCV=1 python3 setup.py install --user`
then i install horovod and openmpi. And i run the example provided by hvd here [https://github.com/ROCmSoftwarePlatform/horovod/blob/hip/examples/pytorch_synthetic_benchmark.py](url) It outputs CUDA errors li

[2019-07-03 13:16] Delaunay commented on #432
Distributed usually means multi node & multi GPU.
At the moment only multi GPU is supported, distributed will come later with RCCL.

Although I know the gloo distributed backend with reduce on the CPU works.
I never tried horovod so I can only speculate.
The error looks like it was not compiled with the required libraries to handle CUDA events.

[2019-07-04 03:00] 401qingkong commented on #432
How can i use gloo distributed backend,  What do I need to configure in pytorch, and are there any examples?
By the way,  Does Multi-GPU only support in the latest ROCm2.5 version, or it  is  implemented in the  latest pytorch version, and can runs on any ROCm version?

[2019-07-04 07:44] 401qingkong commented on #432
when i run multi-gpu test, the following mistakes often occur. And i try to increase the number of MAX_JOBS when compiling pytorch, but it doesn't seem to work. What's the matter?
`[root@eb50a312fd8a amd_pytorch_case]# HIP_VISIBLE_DEVICES=0,1 python3.6 micro_benchmarking_pytorch.py --batch-size=64 --network=resnet50 --dataparallel --dev
ice_ids=0,1`
INFO: running forward and backward for warmup.
M

[2019-07-04 12:36] Delaunay commented on #432
Multi GPU should be in pytorch master but I always use the rocm repo to compile for AMD.

Which GPU are you using ? There are some known issues for gfx803 (RX5XX)

* `MAX_JOBS` is only the number of parallel processes used to compile pytorch.

[code]

[2019-07-04 13:00] 401qingkong commented on #432
I used gfx906 in rocm2.1. And l also test multi-gpu  performance in Rocm2.5 , there are no problems with ROCm2.5.  So how can  I run successfully in 2.1.
Does your pytorch already support multi-node distributed computing with gloo backend?

[2019-07-05 23:23] iotamudelta commented on #432
To comment on some of the questions in this thread:
* we do not support running on older platforms than the current ROCm release (2.5 at the moment)
* distributed parallel is in the process of being upstreamed. There is an open PR for gloo to add RCCL support, subsequently the submodule in PyTorch need to be updated, followed finally with our RCCL enablement in PyTorch landing
* in the meantime, o

[2019-07-09 12:48] Delaunay opened #433 "MIOpen Immediate Mode"
I have seen that MIOpen 2.0 supports [immediate mode][1].
I wondering if you guys have plans to support it ?

I am thinking it would be the default and then something like `torch.backend.miopen.benchmark/find = True` to enable the more lengthy find algorithm.

As currently the first batch can be very slow.

[1]:https://rocmsoftwareplatform.github.io/MIOpen/doc/html/find_and_immediate.html?highligh

[2019-07-09 15:02] iotamudelta commented on #433
We are evaluating it. It'll likely boil down to performance considerations for immediate mode vs traditional for us.

[2019-07-09 20:12] Delaunay commented on #433
Well depending on the use case this might be important.
If you have an already known model that you want to train this feature is not really interesting.

But it might be a source of frustration if you are quickly prototyping models/debugging a pipeline.
One workflow our researchers follow is to try a few quick tests on CIFAR (few minutes to hours) before moving to ImageNet for the final paper.

T

[2019-07-29 16:50] iotamudelta commented on #388
MIOpen RNN integration to PyTorch was merged in 9f8e2c0 - closing for now.

[2019-07-29 16:50] #388 closed

[2019-07-29 16:52] iotamudelta commented on #373
Sorry, getting back to this now. This looks like mkldnn is enabled where it shouldn't be. We have in the meantime just merged py3.6 support upstream and will hopefully switch the CI and our development infrastructure soon.

[2019-07-31 14:28] kinred opened #444 "Official Docker ROCm Pytorch images? Please support Python 3.x"
Hi,
to me it is not clear where offical ROCm Pytorch docker images are hosted and which versions are currently available. I found this repo:

https://hub.docker.com/r/rocm/pytorch/tags

Is it the correct place?

If yes, it would be great if Python 3.x (or at least 3.6) would be supported in the latest images. Python 2 is already outdated for many code bases.

Thanks.

[2019-07-31 18:44] iotamudelta commented on #444
We are working w/ upstream to switch over to py3.6 for ROCm officially.

[2019-07-31 20:04] briansp2020 commented on #444
@iotamudelta
Can you give us ETA? I'm interested in running fast.ai and it requires Python 3.6. So far, I have not been able to make it run successfully. In fact, with the latest git checkout, I can't even get it to compile. :( I was able to at least compile and run with ROCM 2.5 or earlier version (https://github.com/ROCmSoftwarePlatform/pytorch/issues/427) even though it did not produce expected

[2019-07-31 20:09] iotamudelta commented on #444
@briansp2020 my PR to add the basic enablement landed. So you should be able to use just build. Let me give it a whirl myself. I'll report back.

[2019-07-31 22:24] iotamudelta commented on #444
please pull `rocm/pytorch:rocm2.5_ubuntu16.04_py3.6_pytorch` , I've just built this from upstream and confirmed that all unit tests pass on Radeon VII.

[2019-08-01 00:32] briansp2020 commented on #444
@iotamudelta
Your docker container seems to work. Do you have instructions on how to compile it on rocm 2.6 docker container?

Also, is ROCm team interested in supporting fastai? Fastai now seems to require nvidia-ml-py3. I'm guessing that not having equivalent library is one of the reason why fastai seems to run on CPU most of the time.

[2019-08-05 22:08] sebpuetz opened #450 "Unit Test failure test_matmul_small_brute_force2d_Nd"
## 🐛 Bug

After building from source on host machine, `test_matmul_small_brute_force2d_Nd` fails.

## To Reproduce

Steps to reproduce the behavior:

1. Build pytorch for ROCm following the steps described in the wiki
1. `PYTORCH_TEST_WITH_ROCM=1 test/run_test.py`
1. or for quicker repro `PYTORCH_TEST_WITH_ROCM=1 python test/test_torch.py --verbose`

## Expected behavior

Passing tests.

## Enviro

[2019-08-07 21:39] Delaunay commented on #388
I did some synthetic benchmarks and I am able to get 3x on some configurations.
Although, I having trouble making an actual model using the MIOpen path for RNNs.

I tried to make [wlm][1] used the optimized kernel by simply removing the dropout (`dropout=0`)
I think as long as `nlayers > 1` and that the tensors are floats it should use the MIOpen implementation but I am not able to get it to work.

[2019-08-07 21:42] ashishfarmer commented on #388
Currently MIOpen RNNs do not support dropouts. Which is why you are seeing it not use MIOpen RNN layers for FP32. If you force dropout = 0, it should run MIOpenRNN

[2019-08-22 03:37] 401qingkong opened #453 "Pytorch distributed training with MPI backend"
Hi，Does ROCM pytorch support distributed training with MPI backend？
Now  pytorch can't work with MPI. The error information is as follows：
RuntimeError: CUDA tensor detected and the MPI used doesn't have CUDA-aware MPI support
what's the problem? could you give me some advice. Thanks :)

[2019-08-22 21:41] saitam757 commented on #444
Hi, I also tried the repo [https://hub.docker.com/r/rocm/pytorch/tags](https://hub.docker.com/r/rocm/pytorch/tags) and pulled the container with the tag _rocm2.7_ubuntu16.04_py3.6_pytorch_
I got the error message _ImportError: No module named 'torch'_
Should that container suppose to work ?
Thanks.

[2019-08-22 21:45] iotamudelta commented on #444
@saitam757 you need to use `python3.6` instead of `python` (which defaults to 2.7 in this docker).

[2019-08-23 16:59] saitam757 commented on #444
@iotamudelta Thanks, seems to work. I started my python script yesterday with _python3_ but I have to explicitly use _python3.6_

[2019-08-23 18:24] jithunnair-amd commented on #444
@saitam757 Yes, the docker has python3.5 linked to "/usr/bin/python3" for whatever reason. If you change "/use/bin/python3" to point to python3.6 instead, then "python3" should also work as expected.

[2019-08-26 22:48] Wulfsta opened #456 "Add more sed commands to the wiki for native installation"
## 📚 Documentation

I believe the following needs to be added to the wiki under the section to adjust internal dependencies:
[code]

[2019-08-29 03:20] Wulfsta opened #457 "Trouble Building"
## 🐛 Bug

I'm trying to build on a system with a Radeon VII and Ryzen 3800x running Ubuntu 19.04 with ROCm installed as described [here](https://rocm.github.io/ROCmInstall.html) (without dkms, just using the upstream kernel and udev rules as outlined). I see the same error as [here](https://github.com/pytorch/pytorch/issues/25210) when I try to compile from this fork of the repository, and am post

[2019-09-06 08:46] 401qingkong opened #462 "torchvision build error in ROCm2.6"

[2019-09-06 08:49] 401qingkong commented on #462
detailed error information:
![image](https://user-images.githubusercontent.com/20376660/64414567-2be46080-d0c6-11e9-9072-7430047ebc7f.png)

[2019-09-06 08:55] 401qingkong commented on #462
Detailed error information,
![image](https://user-images.githubusercontent.com/20376660/64415001-00ae4100-d0c7-11e9-920b-3c3e89a636c8.png)
![image](https://user-images.githubusercontent.com/20376660/64415006-0572f500-d0c7-11e9-84f5-48151a5828be.png)

[2019-09-07 12:52] 401qingkong commented on #411
@aurotripathy @pramenku
I can build torchvison successfully with your method. But when I run the vision examples in the path /vision/references/detection, the error occures as below:
`RuntimeError: Not compiled with GPU support (nms at /tmp/pip-req-build-8rqg7slj/torchvision/csrc/nms.h:20)
frame #0: c10::Error::Error(c10::SourceLocation, std::string const&) + 0x47 (0x7f0e3fc76037 in /public/home/f

[2019-09-09 07:28] streamhsa commented on #411
Try below to install torchvision and see if it works for you

pip install torchvision==0.2.2.post3

[2019-09-09 08:39] pramenku commented on #411
Try below to install torchvision and see if it works for you

pip install torchvision==0.2.2.post3

[2019-09-09 13:07] 401qingkong commented on #411
I can install torchvision0.2.2.post3 and  import it successfully, but the question is that the version don't include extension modules. Detection task needs to import torchvision._C，and the function imported by _C library comes from the csrc submodule in the vision project.  I notice the above gpu support error  comes from that I can't complie csrc code with gpu option(WITH_CUDA option in the code

[2019-09-09 13:31] Delaunay commented on #411
The problem of compiling torchvision with ROCm is linked to this [issue][3].
Because torchvision uses [`CUDAExtension`][1] to compile the C sources and there is no equivalent for ROCm yet.

I think for [CUDAExtension ][2] to work with ROCm it would need first to hipify the source and then compile it using hcc instead of nvcc.

[1]: https://github.com/pytorch/vision/blob/fe234fc8cfae5fdbc9168994a05

[2019-09-10 02:28] 401qingkong commented on #411
Yes, that's just what I want. It means that torch and torchvision project all have the C sources which need to be implemented with a hip version.(torchvision relies on torch C extention ), It seems like a huge amount of work. I want to know if you have a plan to implement a C extension hip version for ROCm.

[2019-09-10 02:31] #462 closed

[2019-09-20 19:01] dagamayank commented on #433
@iotamudelta Can we reproduce the MI50 compilation times for 1st and 2nd inits? I am surprised that the 2nd invocation is also taking that long. That should be cached.

[2019-09-20 19:03] dagamayank commented on #433
/cc @daniellowell @atamazov

[2019-09-20 19:44] dagamayank commented on #337
@msabony1966

[2019-10-05 23:14] liamnr2 opened #499 "Memory access fault by GPU node-1 (Agent handle: 0x2fb8040) on address 0x541e00000. Reason: Page not present or supervisor privilege."
MSG-GAN runs into a memory access fault at the start of training.

Docker image used: rocm/pytorch:rocm2.7_ubuntu18.04_py3.6_pytorch
Graphics card: RX 470
Code: https://github.com/akanimax/BBMSG-GAN
Additional pip requirements: scipy, tqdm, tensorboardX

Command line used:
`MIOPEN_DEBUG_GCN_ASM_KERNELS=0 python train.py --batch_size 1 --spoofing_factor 1 --images_dir /data/datasets/celebA`

MIOPEN

[2019-10-06 15:49] Delaunay commented on #499
I took the last cmd that MIOpen was outputting and tested it on my RX580.
It worked on my end. I am using the latest ROCm stack (with MIOpen 2.1.0-7487-rocm-rel-2.9-6-a5a4129).

[code]

## Open CL

[code]

## HIP
[code]

[2019-10-08 06:18] david-jk commented on #499
If I execute the command on its own, it also succeeds for me:
[code]

That seems to suggest that it isn't caused by MIOpen directly and that it just happens to be the last output before the memory access fault.

[2019-10-08 06:28] liamnr2 commented on #499
When I execute this on its own, it also succeeds for me:
[code]

That seems to suggest that the problem isn't caused by MIOpen directly and that it just happens to be the last output before the memory access fault occurs.

[2019-10-08 06:56] liamnr2 commented on #499
I just saw that new docker images are available and fortunately it now works on rocm2.9_ubuntu16.04_py3.6_pytorch.

[2019-10-08 06:56] #499 closed

[2019-10-17 16:52] csuji opened #508 "Memory access fault with rocm 2.9"
With pytorch docker image rocm2.9_ubuntu16.04_py3.6_pytorch  I get following error
after starting training:

With MIOPEN_ENABLE_LOGGING_CMD=1 MIOPEN_LOG_LEVEL=5 I was able to track it down to the following kernel:
`/opt/rocm/miopen/bin/MIOpenDriver conv -n 32 -c 64 -H 1 -W 256 -k 32 -y 1 -x 384 -p 0 -q 128 -u 1 -v 64 -l 1 -j 1 -m conv -g 1 -F 1 -t 1`

Config:
GPU  gfx900
Card: Vega 10 XTX [Radeon

[2019-10-17 16:57] iotamudelta commented on #508
Can you report that failure in https://github.com/ROCmSoftwarePlatform/MIOpen ? Thanks!

[2019-10-17 17:00] csuji commented on #508
Sure but can not someone from AMD move it?
https://help.github.com/en/articles/transferring-an-issue-to-another-repository

[2019-10-22 17:38] aurotripathy opened #513 ""torch.version.cuda" is silent"
## To Reproduce

Launch a published container:

`sudo docker run -it --rm --network=host --device=/dev/kfd --device=/dev/dri --group-add video --cap-add=SYS_PTRACE --security-opt seccomp=unconfined -v $HOME/dockerx:/dockerx <dockername>`

In the container, type:

[code]

Is 'cuda' a proxy for any GPU driver layer?
If so, is it appropriate to present the ROCm version?

Thanks.

[2019-10-22 18:01] iotamudelta commented on #513
`cuda` throughout PyTorch means ROCm if on ROCm. @t-vi and I were talking about switching this to the ROCm version.

[2019-10-25 20:36] Delaunay opened #515 "Pytorch Install Instructions"
## 📚 Documentation

Pytorch build [instructions][1] are a bit outdated

[1]: https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm#option-4-install-directly-on-host

1. New rocm dependency roctracer (ROCTX)

4. New sed command for rccl

I also had to add RCCL linking path `export LIBRARY_PATH="/opt/rocm/rccl/lib/"`.
Although CMake did say it found it and `ld -lrccl` was no

[2019-10-25 21:02] Delaunay commented on #46
I was able to use the distributed_parallel pytorch API. I modified a bit the micro_benchmark script you provide to check (modified version is [there][1]).

[1]: https://github.com/Delaunay/multigpu

On a single node it scales well with the number of GPUs.
I did not have any issue with it, called the script the exact same way as I did for NVIDIA.
It was seamless

[code]

  | fp16 | fp32
-- | -- | -

[2019-10-28 13:47] whyang9701 opened #516 "run run_test.py has error"
## ❓ Questions and Help
hi
I am new at pytorch

i try to install pytorch with ROCm and step by step following https://rocm-documentation.readthedocs.io/en/latest/Deep_learning/Deep-learning.html#building-pytorch-for-rocm

output of "PYTORCH_TEST_WITH_ROCM=1 python test/run_test.py --verbose" should all correct ,but i got some error like this

[code]
test_lerp_tensor_weights,
test_unused_output_dev

[2019-10-28 16:03] iotamudelta commented on #516
Could you confirm that you are using our most recent docker image with PyTorch installed? You are not building PyTorch yourself?

[2019-10-28 16:08] iotamudelta commented on #516
For the specific test, please run `python test/test_autograd.pyTestAutogradDeviceTypeCUDA.test_unused_output_device_cuda ` that'll just run the individual test. If you then set `HIP_DB=api+copy+mem HCC_SERIALIZE_KERNEL=0x3 python test/test_autograd.pyTestAutogradDeviceTypeCUDA.test_unused_output_device_cuda` it'll provide a rather verbose log of what is executed and we should be able to see what t

[2019-10-29 16:06] whyang9701 commented on #516
hi @iotamudelta
i use
```sudo docker run -it -v $HOME:/data --privileged --rm --device=/dev/kfd --device=/dev/dri --group-add video rocm/pytorch:rocm2.9_ubuntu16.04_py2.7_pytorch```
start a docker image which is 4th step of the installation tutorial
then build pytorch
``` export HCC_AMDGPU_TARGET=gfx803```
```.jenkins/pytorch/build.sh```
finnally test_autograd.py
```HIP_DB=api+copy+mem HCC_SERIALI

[2019-11-02 13:42] singvision opened #520 ""Memory access fault by GPU node-1" error in Conv3d."
## 🐛 Bug
Got "Memory access fault by GPU node-1" when training my model, now I can reproduce the problem in a very simple script.
the env is ROCM 2.9.6, Radeon VII, I compiled pytorch from the most recent source on master branch.
details as follow.

## To Reproduce
import torch
import torch.nn as nn
t=torch.rand(2,32,64,128,160).to('cuda')
t2=nn.Conv3d(32, 16, kernel_size=3, stride=1, padding=1, b

[2019-11-04 01:16] iotamudelta commented on #520
This looks like an issue with MIOpen. Transferring over.

[2019-11-09 11:00] ghostplant commented on #515
Is there a prebuilt version for pytorch >= 1.0?

[2019-11-09 13:01] iotamudelta commented on #515
@ghostplant yes, see `https://hub.docker.com/r/rocm/pytorch/tags`

[2019-11-09 14:48] ghostplant commented on #515
@iotamudelta I tried that but torch library are not included in the python runtime:
[code]

[2019-11-09 16:47] jithunnair-amd commented on #515
Please try the ones with '_torch' in their tag, and specify 'python3.6' instead of 'python3' (sometimes the dockers have python3.5 linked to python). HTH

[2019-11-09 18:32] ghostplant commented on #515
@jithunnair-amd Thanks, seems that for rocm-2.9, only py2.7 contains the pytorch but py3.6 doesn't.

[2019-11-11 16:49] jithunnair-amd commented on #515
Seems okay on my end:
[code]

[2019-11-20 07:11] #430 closed

[2019-11-30 05:12] Delaunay commented on #515
Your both correct, ubuntu18.04 does not have pytorch but ubuntu16.04 does

[code]

[code]

[2019-11-30 18:01] Delaunay opened #540 "Make rocm docker images consistent with pytorch/pytorch:latest images"
## 🚀 Feature

Make rocm docker images consistent with pytorch/pytorch:latest images so they can be used
as drop in replacement.

## Motivation

Currently rocm docker images are a bit different from the official pytorch images.
Which requires people to write custom logic for ROCm

[code]

[2019-12-14 03:03] IceFlowerLi opened #546 "Different performance between RNN and CNN"
When I run the classical  model Seq2seq in my machine with this [program,](https://github.com/keon/seq2seq) I found that the program consits of RNN structures with the same parameters is far slower than NVIDIA platform even the Float32 performance of the Radeon 7 is greater than 1080ti. But the perfromance is proved in CNN operations that the Radeon 7 is faster than 1080ti in official pytorch exam

[2019-12-16 04:03] Delaunay commented on #546
Can you share the Seq2seq code you are using ?

RNNs are only using MIOpen/cuDNN iff you are using the RNN, LSTM & GRU layers.
The RNNCell, LSTMCell and GRUCell layers all fallback to generic CUDA code.

Additionally, MIOpen optimized layers do not support dropout which means it will fallback to the generic CUDA code if enabled.

[2019-12-16 04:15] Delaunay commented on #546
A quick way to check if MIOpen Layers are called is to execute the script again with the environment variable `export MIOPEN_ENABLE_LOGGING_CMD=1`.

It will print the configuration/command that is used by MIOpen, more information can be found [here][1].

[1]: https://rocmsoftwareplatform.github.io/MIOpen/doc/html/DebugAndLogging.html

[2019-12-16 12:54] IceFlowerLi commented on #546
Hi, @Delaunay! Thank you for your advice.
The Seq2seq code can get from this repository -> [https://github.com/keon/seq2seq](url)
According to your suggestion, I scrutinize the model code part. RNNCell, LSTMCell and GRUCell are not used. Indeed, this seq2seq mode used the Dropout layer in RNN structure and after embedding layer. So, I comment these Dropout layer code and run the program again. The

[2019-12-16 13:14] Delaunay commented on #546
By dropout I meant; pytorch supports [dropout inside][1] the RNN layers, that particular dropout is not supported. Explicit Dropout layers should be fine.

[code]

[1]: https://pytorch.org/docs/stable/nn.html#torch.nn.RNN

[2]: https://github.com/ROCmSoftwarePlatform/pytorch/blob/98d2319dbce5e7d5f8517c1c39d8d37e7a818253/aten/src/ATen/native/RNN.cpp#L16

[2019-12-17 02:38] IceFlowerLi commented on #546
Oh, I got it. Then I set the dropout inside the RNN into 0 and the model code turned into following file. Make sure the dropout value is 0 in all RNN structures.
[model.txt](https://github.com/ROCmSoftwarePlatform/pytorch/files/3971149/model.txt)
But the time cost is still 19 minutes and doesn't decrease any more. ?_?

[2019-12-17 14:30] Delaunay commented on #546
Well, that sucks!

How do you compute the 19 min ?
Something to keep in mind is the first batch is always magnitudes slower than the subsequent ones because MIOpen compiles kernels the first time.

[2019-12-18 02:23] IceFlowerLi commented on #546
I run the Seq2seq program in two machines and stop it after **6** epochs. It is obvious that the compile time in MIOpen is longer than cuDNN at program start. Of course, the program can test with more epochs and other parameters even other programs but I feel it is enough to show the problem.  I hope RNN computation could be given more optimization in MIOpen. :yum:

[2019-12-20 14:01] sebpuetz opened #550 "ROCm 3.0 support"
I updated to ROCm 3.0 which broke the PyTorch installation, which I expected. I recompiled the wheel following the instructions in the Wiki which worked, but importing torch in Python throws an ImportError:

[code]

Does the master branch in this repo support ROCm 3.0 yet?

______________

For completeness' sake the commands used to compile & install:

[code]

[2019-12-20 21:37] iotamudelta commented on #550
PyTorch was tested for ROCm 3.0 - however, you will need to apply this patch https://github.com/pytorch/pytorch/commit/3a7ecd32eb7418e18146fe09dc9301076b5f0f17 .

[2019-12-20 22:01] sebpuetz commented on #550
Tried the following, but it didn't solve the issue:

[code]

I didn't clean up the build directory before trying this, currently recompiling from clean state. I'll comment again if the problem persists.

[2019-12-20 22:54] sebpuetz commented on #550
Slightly different error:

[code]

[2019-12-20 23:12] jithunnair-amd commented on #550
The above error is most likely harmless. Just run the command from a different directory than your pytorch source directory.

[2019-12-21 12:18] bcahlit commented on #550
i have same problem after upgrade ubuntu.

i try merge 3a7ecd3, it still.

there are libhc_am.so in my rocm

(base) ➜  pytorch git:(master) ✗ find /opt/rocm |grep libhc_am
/opt/rocm/hcc/lib/libhc_am.so.2
/opt/rocm/hcc/lib/libhc_am.so.2.10
/opt/rocm/hcc/lib/libhc_am.so
/opt/rocm/lib/libhc_am.so.2
/opt/rocm/lib/libhc_am.so.2.10
/opt/rocm/lib/libhc_am.so

[2019-12-22 08:24] se11en commented on #550
I had the same problem, too.
But when I built torchvision, the problem is gone.
here is how I built torchvision.
[code]

After this , everything went fine.
Note that my OS is Ubuntu 16.04 and the Rocm veision is 3.0, and I installed
`rock-dkms rocm-dev rocm-libs miopen-hip hipsparse rocthrust hipcub rccl roctracer-dev` before building and added extra sed command
`sed -i 's/find_dependency(hip)/fin

[2019-12-22 11:31] sebpuetz commented on #550
This was actually enough to resolve the issue. `sudo apt install rock-dkms rocm-dev rocm-libs miopen-hip hipsparse rocthrust hipcub rccl roctracer-dev ` installed a few new packages that apparently previously weren't part of the requirements?

Thanks @se11en for documenting this.

[2019-12-22 11:40] sebpuetz commented on #550
Although, this did fix the import error, now there's stack smashing going on:

[code]

Any insights on that?

[2019-12-22 15:10] bcahlit commented on #550
Thanks @se11en ，i install hcc it work。

@sebpuetz i use rx580 , it no such problem.

[2019-12-22 15:18] sebpuetz commented on #550
I'm on Ubuntu 18.04 and Radeon VII

[2019-12-22 15:33] se11en commented on #550
maybe you can try to rebuild pytorch after added extra packages.

[code]

[2019-12-30 14:02] harish2704 opened #555 "Pytorch build fails with error"
## 🐛 Bug

Build process of pytorch fails with following error message
[code]

## To Reproduce

Steps to reproduce the behavior:

1. git clone  https://github.com/ROCmSoftwarePlatform/pytorch
2. git checkout aacaf53d8f12056f2ea69235818e455eb7667bd2
3. git submodule init
4. git submodule updae --recursive
5. ./tools/amd_build/build_amd.py
6. mkdir build ; cd build; cmake ../; make -j
The piece of co

[2019-12-30 16:05] iotamudelta commented on #555
Please merge https://github.com/pytorch/pytorch/commit/3a7ecd32eb7418e18146fe09dc9301076b5f0f17 until upstream updates the ROCm CI to 2.10 or later and takes this patch. Thank you!

[2019-12-30 21:56] jithunnair-amd commented on #432
As mentioned in the previous comment, a lot of changes related to RCCL/DistributedDataParallel/mGPU enablement were made over the past few months and have also been upstreamed and tested. Closing this issue for now, please reopen it if you still notice any issues.

[2019-12-30 21:56] #432 closed

[2019-12-30 22:42] dodatko commented on #555
@iotamudelta exactly the same error even after https://github.com/pytorch/pytorch/commit/3a7ecd32eb7418e18146fe09dc9301076b5f0f17 patch

I'm on ROCm 3.0, building inside the latest rocm/pytorch:rocm3.0_ubuntu16.04_py3.6_pytorch

[2019-12-30 22:47] iotamudelta commented on #555
@dodatko could you double check that the `caffe2/operators/hip/relu_op.hip` file also correctly got the patch after hipification? your errors reference lines 55/105 in that file which are not part of the ifdef branch any longer.

[2019-12-30 23:24] jithunnair-amd commented on #540
Can you please elaborate on the "pip does not work well, and is weirdly installed" comment? I do see that pip is installed in `/usr/local/lib/python3.6/dist-packages/` in the ROCm dockers, and I agree that it's an older version, but I would like to understand why it does not work well or is considered weirdly installed?

[2019-12-30 23:38] dodatko commented on #555
@iotamudelta oh, my bad, trying build again

[2019-12-31 02:05] dodatko commented on #555
@iotamudelta huh, finally it's works, thanks for fast help!

so, first need to apply patch and hipification after

[2019-12-31 04:13] Delaunay commented on #540
I had issue installing packages inside the container.
I would get random segmentation fault in the container while installing packages.
The segmentation faults were not tied to a particular package, they seemed to happened randomly when running pip. I had to rerun pip multiple times to get all the dependencies installed.

I use the same makefile for different containers to run the tests on differe

[2019-12-31 14:48] iotamudelta commented on #555
@harish2704 can you confirm that it works for you and if so close the issue? We'll merge this patch in once the CI has been updated (it requires ROCm 2.10 or higher).

[2019-12-31 15:29] jithunnair-amd commented on #456
Thanks. Updated wiki.

[2019-12-31 15:29] #456 closed

[2019-12-31 15:42] jithunnair-amd commented on #515
@Delaunay Wiki has been updated for the sed command and dependency update. However, you shouldn't need to modify your LIBRARY_PATH for rccl, as the cmake build should find the rccl library and use the absolute path in the build. Can you please try again and let us know if you still observe the issue with finding rccl library? You can use VERBOSE=1 during the build and capture the log file to obser

[2019-12-31 19:40] jithunnair-amd commented on #540
I do not know why you see the seg faults. However, the pip install and python3 pointing to python3.5, while being out-of-date/annoying, is what we get when building ROCm pytorch dockers using the pytorch scripts.

[2019-12-31 19:45] Delaunay commented on #515
I will close the issue, I do not have access to the machine with AMD GPUs anymore so I wont be able to test again for the RCCL linking issue.
I assume it was probably just an issue with my setup

[2019-12-31 19:45] #515 closed

[2019-12-31 21:26] harish2704 commented on #555
@iotamudelta : Hi, I can confirm that, the particular error I reported is solved now.

But the build still fails with a different error.

it is saying
[code]

[code]

![image](https://user-images.githubusercontent.com/1652903/71634431-05809d00-2c42-11ea-9bdf-627724f91a10.png)

My current master commit has following details
[code]

Should I close this issue and reopen a new one ? Please suggest

[2020-01-04 00:49] iotamudelta commented on #373
Updated CI and everything else to python 3.6. Closing this issue.

[2020-01-04 00:49] #373 closed

[2020-01-04 01:17] jithunnair-amd commented on #540
@Delaunay Which gfx version were these segfaults on btw? gfx803/gfx900?

[2020-01-04 15:18] Delaunay commented on #540
gfx803 in that case

[2020-01-09 16:15] dagamayank commented on #546
/cc @daniellowell @ce1adon @aserio.

@IceFlowerLi which MIOpen version are you using? MIOpen [v2.1](https://github.com/ROCmSoftwarePlatform/MIOpen/releases/tag/2.1.0) added Dropout support.

cc-ed folks here may have additional insights into the performance issue here.

[2020-01-09 16:52] Delaunay commented on #546
In that case it is not the same. cuDNN allows for dropout to be embedded in the [RNN layer][1] itself i.e the cudnn RNN descriptor has a `DropoutDescriptor_t` inside but MIOpen [does not][2].

That is why the dropout inside the RNN layers should be 0.
The check if done [here][3] on the pytorch side.

[1]: https://docs.nvidia.com/deeplearning/sdk/cudnn-api/index.html#cudnnSetRNNDescriptor
[2]: http

[2020-01-09 17:32] sebpuetz opened #559 "ROCm 3.0: Stack smashing detected"
## 🐛 Bug

Simple operations lead to stack smashing after upgrade to ROCm 3.0 and recompilation

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

No stack smashing

## Environment

[code]

 - PyTorch Version (e.g., 1.0): master branch from https://github.com/ROCmSoftwarePlatform/pytorch/
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (`conda`, `pip`,

[2020-01-11 13:55] dodatko opened #560 "Pytorch 1.3.1 on ROCm 3.0, compatibility"
Few questions:

1. In original pytorch/pytorch repository 1.3.1 release tagged as v1.3.1, what related version(tag, commit) I can checkout in ROCmSoftwarePlatform/pytorch repository to get maximum compatibility?
2. On host system I have installed ROCm 3.0, should it work fully correct with pytorch 1.3.1 or I need to downgrade installed 3.0 to 2.x?
3. Is it normal to have ROCm 3.0 on host system an

[2020-01-13 22:17] iotamudelta commented on #559
This is a bug in our stack which should be resolved in an upcoming release. Sorry!

[2020-01-13 22:19] iotamudelta commented on #555
This issue is unknown to me - could this be transient?

[2020-01-13 22:21] iotamudelta commented on #560
1/2) PyTorch upstream will not work with ROCm 3.0 unless you integrate pytorch@3a7ecd3 patch.
3) Having a ROCm 3.0 host system and a ROCm 2.10 docker should work.

[2020-01-13 23:28] iotamudelta commented on #444
Closing this as all official docker images are using python 3.6 now. Note that `python3.6` must be invoked explicitly.

[2020-01-13 23:28] #444 closed

[2020-01-13 23:29] iotamudelta commented on #58
Closing - rocprofiler and roctracer with rocTX are integrated.

[2020-01-13 23:29] #58 closed

[2020-01-13 23:30] iotamudelta commented on #46
Closing as distributed training is integrated in both PyTorch and Caffe2 backends for some time w/o problems.

[2020-01-13 23:30] #46 closed

[2020-01-13 23:30] iotamudelta commented on #31
Closing, mGPU is supported now.

[2020-01-13 23:30] #31 closed

[2020-01-13 23:32] iotamudelta commented on #450
Upstream CI has not seen any failing unit tests. Please re-open if still an issue.

[2020-01-13 23:32] #450 closed

[2020-01-13 23:40] iotamudelta commented on #516
RCCL issue related to gfx803. If you intend to use both GPUs, an issue should be filed with RCCL - I don't think this is a tested config. In the meantime, my understanding is that single GPU gfx803 mostly works for PyTorch (there may be some rough edges!) and you can `export HIP_VISIBLE_DEVICES=0` to force single GPU.

[2020-01-13 23:42] iotamudelta commented on #513
we now have `torch.version.hip` populated thanks to @t-vi.

[2020-01-13 23:42] #513 closed

[2020-01-13 23:43] iotamudelta commented on #540
`gfx803` unfortunately is a bit rough around the edges as upstream testing happens on `gfx900` and `gfx906`. We enable it as a community service / best effort.

[2020-01-13 23:44] iotamudelta commented on #398
@Delaunay can this be closed now? I see that you closed the rocBLAS issue.

[2020-01-13 23:45] iotamudelta commented on #415
Upstream CI hasn't had any failures to compile. Closing.

[2020-01-13 23:45] #415 closed

[2020-01-14 00:28] aurotripathy commented on #513
Thank you. Confirming that it works in ROCm 3.0.
[code]

[2020-01-14 04:14] Delaunay commented on #398
Yeah, although, I have not actually checked that issue was resolved since I am no longer in possession of vega 20 GPUs. I would have liked to be able to though.

[2020-01-14 05:54] dodatko commented on #559
@iotamudelta Is it about current master or whole ROCm3.0 stack?

[2020-01-14 09:58] sebpuetz commented on #559
The docker image works fine tho:

[code]

[code]

[2020-01-14 17:51] dodatko commented on #555
Exactly the same error I got when used 8 compilation workers:
.........
.........
.........
git checkout **tags/v1.3.1**
.........
git merge 3a7ecd3
.........
PYTORCH_BUILD_VERSION=1.3.1 PYTORCH_BUILD_NUMBER=1 USE_ROCM=1 USE_LMDB=1 USE_OPENCV=1 **MAX_JOBS=8** python setup.py bdist_wheel

And error disappear after reducing MAXJOB=4 (CPU i7 7700k, 64Gb RAM)

[2020-01-14 20:13] dodatko commented on #560
@iotamudelta thanks!

[2020-01-14 20:13] #560 closed

[2020-01-15 05:38] harish2704 commented on #555
@dodatko Thanks. I was also doing compilation using multiple workers ( using make -j<n> ) option. I was using 11 workers since my CPU has 12 cores.

I will be  away from my desktop for one month . I will recheck this when I return back

[2020-01-15 18:31] lemairecarl opened #564 "Issue templates should be updated"
The github issue templates of this repo are identical to those of the original pytorch repo. It's somewhat confusing, as it appears as if we are filing an issue for pytorch.

https://github.com/ROCmSoftwarePlatform/pytorch/tree/master/.github/ISSUE_TEMPLATE

[2020-01-15 18:39] lemairecarl opened #565 "PyTorch version"
Hi! Thanks for making this project possible!

There does not seem to be any documentation for this repo. Even the README seems to be exactly the one from the original pytorch repo.

Is there a way to know which versions of PyTorch are compatible with ROCm ? According to the branches and releases of this repo, it appears that the latest supported version of PyTorch is v0.3.1. This is pretty old. Is

[2020-01-15 18:48] iotamudelta commented on #565
This repo is intentionally a straight fork from upstream - upstream is enabled for ROCm. The latest ROCm version we are using on the upstream CI is ROCm 2.9 (so this is upstream/master). I can personally also tell you that ROCm 2.10 works w/o problems. ROCm3.0 will require application of a patch referenced in other issues.

[2020-01-15 18:50] iotamudelta commented on #564
It's a straight clone - we also share the CI with upstream and track master very closely. Hence why we do not deviate from upstream even in issue templates, the information there is valuable to us as well.

[2020-01-15 20:02] lemairecarl commented on #564
I see.

For example, I would have suggested to remove https://github.com/ROCmSoftwarePlatform/pytorch/blob/master/.github/ISSUE_TEMPLATE/documentation.md, since it does not make sense to receive issues about pytorch's docs here.

But I understand that you want to keep the tracking as straightforward as possible. Are you working with AMD? Do you know if AMD pays people to work on the project?

Than

[2020-01-15 20:35] lemairecarl commented on #565
I understand better now -- this repo is used to make PRs to the upstream repo. It's not clearly stated anywhere I've looked. I thought you were keeping a parallel source with significant changes to support ROCm. I'm pleasantly surprised that upstream supports ROCm "out of the box"! (not really out of the box as there's still that hipification to perform)

I also just looked at the wiki on this rep

[2020-01-15 20:39] Delaunay commented on #564
ROCm (Radeon Open Compute) is AMD stack and this is AMD official fork of pytorch

[2020-01-15 20:46] iotamudelta commented on #565
I would recommend you use the docker method to obtain the wheel file, that's what we do internally. Subsequently, you can use that wheel file to install on the host. Building directly on the host is possible and there are external users that have successfully done so. However, PyTorch does require a bunch of build dependencies, correct incantation of build scripts, ... which I found to be much eas

[2020-01-15 20:52] lemairecarl commented on #565
Ah, I see. I did not get the subtlety that I could use the docker image to get an independent wheel.

We plan to test PyTorch on a rented AMD GPU on the cloud. Any possible pitfalls come to mind?

Thanks again!

[2020-01-15 20:54] iotamudelta commented on #564
Note that there are plenty of commits upstream from people with `@amd.com` email addresses (including myself), if that answers the question concerning AMD's commitment/involvement. :-)

[2020-01-15 21:01] iotamudelta commented on #565
Not so much pitfalls, upstream CI is testing on `gfx900` and `gfx906`, so I would strongly recommend those uarchs (you can get that from `/opt/rocm/bin/rocm_agent_enumerator`). Similarly, we are testing on Ubuntu16.04 and CentOS7, python3.6 so I'd recommend using these environments at least in the beginning. Note also that if you install torchvision via pip on a ROCm system, it'll try to delete an

[2020-01-15 21:26] lemairecarl commented on #565
Thanks a lot! At first glance it seemed like PyTorch + ROCm was very risky, but this discussion gives me confidence. I will definitely report back any issues or insights.

[2020-01-19 22:28] victoryang00 commented on #555
Another solution: do all the 4 sections with `#if __HIP_ARCH__ >= 530` like that
[code]
Because for hip, there's no need to transfer from half to float than to half, just use what it was before.

[2020-01-24 14:59] #540 closed

[2020-01-24 15:16] #398 closed

[2020-01-31 06:26] aclex opened #572 ""Undefined __global__ function" on method calls from `torch.nn.functional`"
Continued from https://github.com/ROCm-Developer-Tools/HIP/issues/1827 as suggested to file a question here.

I'm experimenting with creating proper Gentoo ebuild for PyTorch system-wide installation, including ROCm support, here: https://github.com/aclex/pytorch-ebuild. The building itself finishes successfully, but I found, that calls to pretty much any function in `torch.nn.functional` finishes

[2020-01-31 17:00] #564 closed

[2020-01-31 17:00] lemairecarl commented on #564
thanks

[2020-02-07 09:33] junqingchang opened #581 "Building PyTorch for ROCm 3.0 directly on host"
Compiling a list of steps that worked for me that may help others as I had to refer to different sites for it.

## References
Installation notes taken and edited from https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm#option-4-install-directly-on-host

Fixes from
https://www.lizenghai.com/archives/43692.html
https://github.com/ROCmSoftwarePlatform/pytorch/issues/550#iss

[2020-02-07 10:34] #581 closed

[2020-02-19 07:25] XuanBaby opened #587 "the function conv_transpose2d runs out of memory with specific parameters"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

I write test case to compute con_transpose2d,:
[code]

the error:
Memory access fault by GPU node-4 (Agent handle: 0x3d93840) on address 0x2b59ff26e000. Reason: Page not present or supervisor privilege.
Aborted

but when I change the input \weight\ kernel size，it pass
[code]

## Expected behavior

I dont know what cause this error,   cou

[2020-02-24 09:39] XuanBaby commented on #587
this error could be re-appear in image：rocm/pytorch：rocm3.0_centos7.5_py3.6_pytorch ；
and I watch the dmesg ,find the information
[code]
and via to add HCC_DB/MIOPEN_LOG.. get
[code]
anyone could give me some advice about this error? or how to find the error function?

[2020-02-25 20:17] iotamudelta commented on #587
This looks less like running out of memory and more like a segfault in a MIOpen function. You have there the last MIOpen kernel that was called, if you can reproduce the error on your system (is this Radeon VII?) with just the miopen-driver command corresponding to the convolution w/o the PyTorch framework, that'd be great!

[2020-02-25 22:46] XuanBaby commented on #587
@iotamudelta Thank you for your replay.
the system is mi60. And from the MIOpen(hip) output ,I run the code as follow,it could not reproduce the error
[code]
I am confused
I try to find the function _conv_transpose2d_  source code,but only
 the function interface description like: https://pytorch.org/docs/stable/_modules/torch/nn/modules/conv.html#ConvTranspose2d
about pytorch how to call the MIOp

[2020-02-25 23:04] XuanBaby commented on #587
maybe this is the source code of function _conv_transpose2d_ ?https://github.com/ROCmSoftwarePlatform/pytorch/blob/master/aten/src/ATen/native/Convolution.cpp#L525

[2020-03-04 15:33] ant1s opened #594 "ROCM 3.0&3.1: Memory leak in torch.nn.BCELoss"
## Issue description
Hello.
My gpu is radeon vii and I use pytorch build with master branch 1.5.0a0+914610d and rocm 3.0. I found memory leaking in torch.nn.BCELoss, which make me can not do any long time trainning.
I update rocm to 3.1 and the there still is memory leaking. I also tried my test script in cuda enviroment and no memory leak, so I guess there is something wrong with pytorch and rocm

[2020-03-04 16:13] Delaunay commented on #594
Do you run out of memory at some point ?
CPU memory or GPU memory ?

I had memory issue as well with pytorch when using small GPU tensors.
Basically, the python GC not being aware of GPU memory & pytorch caching GPU memory means you can experience very interesting behaviors.

ROCm use slightly less memory than CUDA that means you could be hitting a weird edge case where small objects are not recla

[2020-03-04 16:32] ant1s commented on #594
yes ,my trainning program will stuck after all memory(include swap memory) exhusted, but when I test with the script, there seems an upper limit. I will do more work on it

here is my trainning loop:

[code]

I test memory leak by comment code.I can observe memory growth only when `train_criterion(output_sigmoid, label)` is not commented

[2020-03-05 01:07] ant1s commented on #594
I found that the torch.nn.BCELoss is not the real reason, I will close this issue.
Sorry for the wrong report!

[2020-03-05 01:07] #594 closed

[2020-03-29 17:24] qixiang109 commented on #433
just wondering any update on this problem? @Delaunay your compile time is the same with mine. Very bad experience

[2020-03-30 20:37] iotamudelta commented on #339
HIPExtensions have landed upstream, torchvision is ROCm GPU kernel enabled.

[2020-03-30 20:37] #339 closed

[2020-03-30 20:37] iotamudelta commented on #382
HIPExtensions have landed upstream, torchvision is ROCm GPU kernel enabled.

[2020-03-30 20:37] #382 closed

[2020-03-30 20:38] iotamudelta commented on #555
Upstream CI was updated to ROCm 3.1.1 and above compilation was ifdef'd based on ROCm version.

[2020-03-30 20:38] #555 closed

[2020-03-30 20:38] iotamudelta commented on #550
Upstream CI was updated to ROCm 3.1.1 and above compilation was ifdef'd based on ROCm version.

[2020-03-30 20:56] iotamudelta commented on #433
@qixiang109 we are working on this issue. I can confirm that switching to immediate mode for PyTorch works in our bringup. We are working on assuring the same level of performance is achieved in that setup before we can make the switch.

[2020-03-31 03:40] qixiang109 commented on #433
thank you for your job that will be a great progress I believe. btw, will the immediate mode also works with tensorflow?

[2020-03-31 13:29] atamazov commented on #433
@qixiang109 At MIOpen team, we are also working on performance improvements of existing "conventional" Find mode of the library. These improvements include accelerated Fast Find and Hybrid Find modes that use Immediate mode machinery internally. This way, any application (including TF) may get the faster startup times without need to change anything but set some environment variable.

Fast/Hybrid

[2020-03-31 14:58] Delaunay commented on #433
@atamazov Is there investigation into doing in-memory compilation instead of generating files to be compiled and compile them ? Theano got a huge compile time boost by doing so, removing all the IO latency from the compilation.

[2020-03-31 15:15] atamazov commented on #433
@Delaunay Yes, however I do not expect substantial acceleration from in-memory compilation, because the most of the time is spent not for IO but within the compiler. And there are some other ongoing developments targeted to improvements of startup time, e.g. precompiled kernels in MIOpen and improvements of the ROCm HCC compiler itself.

[2020-03-31 16:26] Delaunay commented on #433
Good to know.
I am guessing the hybrid immediate mode, queue the compilation and returns the immediate kernel and then switch to the compiled kernel when ready, so with this kernels could be compiled in parallel.
This should improve the speed quite significantly indeed.

A while back, I also noticed that when I start pytorch in parallel for multi GPU training, each process will go through the comp

[2020-04-01 03:02] qixiang109 commented on #433
eagerly looking forward of the new modes!

[2020-04-10 09:18] fuag15 opened #626 "hip/hip_version not found and thrust_ptr not found, bad config from fresh install"
## 🐛 Bug

I'm getting error building on a gentoo host with these errors. Mostly around hip_version and around thrust_ptr not found. It seems like a problem with the hipify scripts but i'm way out of my league here in guessing.

## To Reproduce

1. install required libs
2. clone repo on master
3. run amd_build.py helper script
4. python setup.py install
5. observer error around hip_version.h and th

[2020-04-10 11:02] Laser-Cat opened #627 "Warning: PyTorch no longer supports this GPU because it is too old."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.Open a python interpreter
2. import torch;tensor([9], device='cuda:0');

[code]
## Expected behavior
The warning should not appear, or shown in a understandable manner.
For example(I dunno if gfx803 is really too old or just they have an outdated hack to decive pytorch):
[code]

## Environment

 - PyTorch Version (e.g., 1.0): '1.6.0a0+

[2020-04-10 15:43] iotamudelta commented on #627
Thanks, this warning unfortunately got introduced upstream for the CUDA path but does not reflect the realities for the ROCm path. It is purely cosmetic and there is a PR upstream to remove the warning for ROCm.

[2020-04-10 15:43] #627 closed

[2020-04-10 15:47] iotamudelta commented on #626
`hip_version.h` was introduced as part of ROCm 3.1 and will be used for versioning changes in PyTorch on ROCm going forward. Are you per chance on an older ROCm than 3.1? If yes, a possible workaround is the create a `hip_version.h` file in `${ROCM_DIR}/include/hip/` containing `HIP_VERSION=300` (if you are on ROCm 3.0), `HIP_VERSION=210` (if you are on ROCm 2.10).

Concerning thrust_ptr: can you

[2020-04-10 16:57] fuag15 commented on #626
Yes i am, I'm using rocm 3.0 but i have access up to rocm 3.3. I was told that rocm 3.0 was the most reliable for getting a build up, would you suggest upgrading to 3.1 or all the way to 3.3? Thanks for the quick response and helping with this project, really excited to get some open source ml going on AMD hardware

[2020-04-10 17:13] fuag15 commented on #626
I do have rocThrust installed however the thrust_ptr error only comes up with parallel builds on and only sometimes, so i'm unsure if its a red-herring, I will try to resolve the HIP_VERSION error, (either by upgrading to 3.1/3.3 or adding that .h file) today and see how things changes. curious what your recommendation on version to target for pytorch.

[2020-04-10 18:30] iotamudelta commented on #626
In general we recommend using either the latest ROCm (this would be 3.3) or what is currently running on the upstream PyTorch CI (this is 3.1.1).

[2020-04-10 22:57] XuanBaby commented on #587
this question has been solved in pytorch1.15

[2020-04-10 22:57] #587 closed

[2020-04-11 05:20] fuag15 commented on #626
I'll post an error elsewhere but now i'm getting issues that seem to have to do with rocBLAS-3.3.0 when compiling against miopen or rocALUTION related to udefined refrerences to llvm::yaml::IO::getContext

[2020-04-13 05:38] fuag15 commented on #626
i've spent the weekend digging into the issues with rocm 3.3.0 to no avail. I've documented the issues as best i can in this issue rocBLAS https://github.com/ROCmSoftwarePlatform/rocBLAS/issues/1124

I'm going to try building against 3.1 in the meantime

[2020-04-16 12:26] harish2704 opened #631 "UserWarning: cuDNN/MIOpen library not found. Check your LD_LIBRARY_PATH"
## Issue description
When running  ROCm Pytorch, I am getting the following warning
`UserWarning: cuDNN/MIOpen library not found. Check your LD_LIBRARY_PATH`
which is coming from `torch/backends/cudnn/__init__.py:81`

I do not have cuDNN insatllation, but I do have  MIOpen installation. ( and it was detected correctly during pytorch build process )

My question is whether is warning is an expected

[2020-04-16 16:40] harish2704 opened #632 "HCC STATUS_CHECK Error: Unknown Error Code (0x29) at file:mcwamp_hsa.cpp"
## 🐛 Bug
The `word_language_model` example from [pytorch example repository](https://github.com/pytorch/examples/tree/391be73bbd191a08776c9ba05d29ef1e05c0c83b/word_language_model) is failing consistently during the second epoch with following error message

[code]

## To Reproduce

Steps to reproduce the behavior:

1. `git clone https://github.com/pytorch/examples && cd examples/word_language_mode

[2020-04-16 20:55] iotamudelta commented on #631
This is a warning that unfortunately does not reflect reality. @jithunnair-amd to explain

[2020-04-16 20:56] harish2704 commented on #631
@iotamudelta : Yes. I fixed this and found that, it doesn't add anything to performance.
Any way, I made small fix for that

[2020-04-16 21:02] jithunnair-amd commented on #631
This issue should be fixed by PR https://github.com/pytorch/pytorch/pull/33837

[2020-04-16 21:02] #631 closed

[2020-04-17 17:21] atamazov commented on #433
@qixiang109 New modes available for testing at https://github.com/ROCmSoftwarePlatform/MIOpen/pull/162

[2020-04-20 09:14] 401qingkong opened #637 "Compiled device function could not been used"
Hi, I compile pytorch from source in your docker image rocm/pytorch:rocm2.9_centos7.5_py2.7_pytorch with python3.6.8 version，and I set the amdgpu-target=gfx906 . But when I run a demo, there is an error showing like belowing:

`RuntimeError: No device code available for function: _ZN2at6native18elementwise_kernelILi1024ELi1EZNS0_15gpu_kernel_implIZNS0_16copy_kernel_implIfhEEvRNS_14TensorIteratorEE

[2020-04-28 19:28] s-bernard opened #639 "Need help to investigate : RuntimeError: HIP error: hipErrorInvalidValue on (large) sum()"
## 🐛 Bug

I built pytorch 1.5 from source with a Vega 56 and ROCm 3.3 on Archlinux. I ran the tests but the cuda test was failing with RuntimeError: HIP error: hipErrorInvalidValue.

Could you help me investigate what is the issue?

## To Reproduce

By analyzing the failing tests, I found that `sum()` was not working on cuda tensor wider than 130560:

[code]

I tried to reshape it, if I sum everyt

[2020-04-29 22:36] Ge0rges commented on #581
Hello, I'm attempting to follow these instructions but pytorch build fails, below the error.

`HIP (/opt/rocm-3.3.0/hip) was built using hcc 3.1.20114-6776c83f-1ce0fe5e88b, but you are using /opt/rocm/hcc/hcc with version  from hipcc. Please rebuild HIP including cmake or update HCC_HOME variable.
`

I appreciate any clues as to how I can rebuild HIP

[2020-04-30 01:06] junqingchang commented on #581
Maybe you can try the solution on https://github.com/ROCmSoftwarePlatform/hipBLAS/wiki/Build#common-build-problems

[2020-04-30 01:07] Ge0rges commented on #581
Thanks I missed that!

[2020-05-01 12:56] s-bernard commented on #572
I get the same error when compiled on Archlinux and installed for the system.

But, the same build, if it is install with `--user`, it works.

[2020-05-01 12:57] s-bernard commented on #572
Well, it works, I fell on #639 .

[2020-05-02 10:25] s-bernard commented on #572
@aclex Did you check if HIP examples work or do they fail like described in https://github.com/rocm-arch/rocm-arch/issues/138?
I think we have the same problems on Archlinux as you on Gentoo to correctly package the ROCm stack.

[2020-05-02 12:59] aclex commented on #572
@s-bernard I've just run the tests on my machine and the reduction tests failing the same way you've described in https://github.com/rocm-arch/rocm-arch/issues/138
[code]
Apart from that `b+tree` test from `Rodinia` suite fails, too:
[code]
Other tests seem to be passed.

I've also prepared [Docker image](https://hub.docker.com/r/aclex/gentoo-rocm) on top of clean stage3 of Gentoo with ROCm packag

[2020-05-02 13:42] s-bernard commented on #572
We did not. By installing PyTorch as a user, I don't have the global function error but another one. The failing tests on HIP tells me there is something wrong in HIP.

By the way, the global function error is not specific to PyTorch, you can found it there: https://github.com/ROCmSoftwarePlatform/rocFFT/issues/267. I do have the same error on rocfft, another thread pointed me to test HIP which is

[2020-05-02 14:38] aclex commented on #572
@s-bernard I think, there're some special settings in PyTorch when installed by `setup.py` as a user, I tried to experiment them, but haven't turned to it yet. So probably you overcome this particular bug with the user installation, and those new one is something separate. But yes, HIP is obviously partially broken, according to tests. By the way, I've seen official Docker images files somewhere,

[2020-05-05 02:56] sunway513 commented on #637
Hi @401qingkong , can you try with the following ROCm3.3 based CentOS docker container?
`rocm/pytorch:rocm3.3_centos7.5_py3.6_pytorch`
If you still see issues, please let us know the steps to reproduce your issue, we can investigate from there.
Thanks!

[2020-05-05 03:31] sunway513 commented on #639
Hi @s-bernard a couple of comments for this issue:
- Archlinux is not officially supported by ROCm. For the supported OS by ROCm please refer to:
https://github.com/RadeonOpenCompute/ROCm#supported-operating-systems

- PyTorch relies on all the underneath ROCm stacks to be functioning correctly. Here's the dependency list only for the user bit components:
ROCT-Thunk -- https://github.com/RadeonOpe

[2020-05-05 21:30] s-bernard commented on #639
Hi @sunway513, thanks for your answer.

Yes, I know it’s not officially supported, that’s why I was asking for leads and not solutions ;).

Actually, you’re right, I tested HIP on https://github.com/ROCm-Developer-Tools/HIP-Examples and I’ve got some errors. See https://github.com/rocm-arch/rocm-arch/issues/138#issuecomment-622522617 if you’re curious.

I’ll continue my investigation from there. T

[2020-05-05 21:34] s-bernard commented on #572
Yes I have used the docker image to compare with the system. It actually works with some glitches (it crashed my graphic card on a resnet50 training) in the docker.

[2020-05-07 02:25] 401qingkong commented on #637
Hi @sunway513
I have tried the ROCm3.3 based CentOS docker container you referred above, the device function could been identified. But another error ouccures when I run the code.
`Memory access fault by GPU node-4 (Agent handle: 0x522f2f0) on address 0x2b46bec00000. Reason: Page not present or supervisor privilege.`
And I try to trace the process and find the error may be related to Aten library

[2020-05-10 10:26] s-bernard commented on #572
Hi, I solved the reduction test by just not stripping the final library. However, I still can't make the included tests pass.

[2020-05-12 04:05] Laser-Cat opened #648 "Random memory related error"
## 🐛 Bug
I am training a big model and after 1k iteration or so it crashes with some memory related error for the very same code, it has several different scenerios listed below.

When trained with smaller batch size dummy data fed by a sig the odds of triggering such bugs is much smaller. This smells heap corruption but I don't know how to pin it down....

Please give me some advice on how to pin

[2020-05-15 19:26] aclex commented on #572
@s-bernard thanks for the details! I'll publish an issue for Gentoo ROCm stack to try fixing this reduction test issue, too. What are the tests failing on your setup currently? Or do you mean PyTorch tests?

[2020-05-16 17:14] aclex commented on #572
@s-bernard could you please suggest, which binary being non-stripped solves the reduction tests failure for you? I've checked my setup, the `reduction` binary in the tests itself is not stripped, though the tests are failing. Do you mean some HIP-related binary?

[2020-05-16 21:15] s-bernard commented on #572
@aclex I'm tring to pass the HIP tests (tests directory in HIP repository). Most of them are working but some are still failing. https://github.com/ROCm-Developer-Tools/HIP/issues/2078

The binary is the main HIP shared library: `libhip_hcc.so.3.3.X`. Actually, I think stripping causes a problem because the lib contains GPU code which seems unused.

[2020-05-16 21:23] s-bernard commented on #572
To be sure, I just don't strip any ROCm binaries.

[2020-05-16 21:36] aclex commented on #572
@s-bernard thank you very much! Yes, indeed, given these subtle issues, it's probably safer to disable it mainly. Will try to disable strip and restart the tests on my setup. Thanks again!

And what tests you still can't manage to pass? Is it Pytorch internal tests? Have you tried version 1.5 by the way? I can't manage to build it properly yet (Python part is not installed somehow), but I noticed

[2020-05-17 12:28] s-bernard commented on #572
@aclex I'm tring to pass the HIP tests (tests directory in HIP repository). Most of them are working but some are still failing. ROCm-Developer-Tools/HIP#2078

[2020-05-17 12:29] s-bernard commented on #572
I won't try to make pytorch work until I successfully pass all HIP tests.

[2020-05-17 14:29] aclex commented on #572
@s-bernard I see, thanks for clarification! As I see in the reports you've referenced, this looks like a significant stuck. I'll try to try your results on Gentoo ROCm stack also, who knows, maybe there's some new information appear, but I believe it would fail just the same way.

[2020-05-18 23:18] ericjang opened #655 "gfx900 on ROCm 3.3 unexpectedly slower than P100 + CUDNN on DAWN benchmark"
## 🐛 Bug

The baseline code in [this colab](https://colab.research.google.com/github/davidcpage/cifar10-fast/blob/master/bag_of_tricks.ipynb#scrollTo=7WeTS0FF4iQE) provides a Pytorch example running on a V100 GPU with CUDNN to train a CIFAR10 classifier in 75 seconds.

[code]

I have 3 gfx900 GPUs (AMD Radeon VEGA Frontier Edition)  and I was able to run the benchmark code provided in the colab on

[2020-05-18 23:40] ericjang commented on #655
I was able to get access to a P100 machine on GCP, here are the same benchmark numbers for the same code:

[code]

[2020-05-19 01:59] ericjang commented on #655
Ran the [torch bottleneck profiler](https://pytorch.org/docs/stable/bottleneck.html) and here are the results:

Here are the slowest ops on ROCm:
[code]
Here are the corresponding P100 times:
[code]
A few things that stand out to me that don't seem attributable to differences in CPU (I forgot to mention that I'm running a AMD Ryzen Threadripper 1900X 8-Core Processor):
- {built-in method conv2d} i

[2020-05-21 01:33] Laser-Cat opened #657 "BatchNorm1d gets unexpected Nan on GPU"
## 🐛 Bug
The BatchNorm1d layer produces unexpected nans when running on GPU.
More specifically the BatchNorm1d returns nans if the values has zero variance when runs on GPU, the bug does not happen on CPU. This bug does not occur on Nvidia card and pytorch 1.5.0, either.

[code]
Here is the a.pt file[a.pt.zip](https://github.com/ROCmSoftwarePlatform/pytorch/files/4660131/a.pt.zip)

The bug also se

[2020-05-23 14:36] aclex commented on #572
@s-bernard I've just checked out on my system and can confirm your results of reduction tests pass on non-strip HIP binaries. Here're the two logs, with stripped and non-stripped HIP binaries installed: https://gist.github.com/aclex/5349be5f13ea1892b409e43c645c57ca Still `b+tree` test fails in both cases on my setup.

[2020-05-28 18:57] sunway513 commented on #657
@ashishfarmer , can you help reproduce the issue locally?

[2020-05-28 21:04] ashishfarmer commented on #657
I was able to reproduce the problem locally on gfx906 system and am digging into finding the root of it.

[2020-05-28 22:53] ashishfarmer commented on #657
@Laser-Cat - The issue has been narrowed down and reported to MIOpen library, the output of which has NaN value as you reported.

[2020-05-29 17:17] ericjang commented on #655
Friendly ping, any updates on this? Any information I can provide on my end that would be helpful?

[2020-06-04 23:54] skerit opened #668 "Unable to set up docker image (segmentation fault when importing torch)"
## 🐛 Bug

Following the guide to the letter, I'm unable to compile pytorch

## To Reproduce

Steps to reproduce the behavior:

1. Follow the guide at https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm
2. Fail

There were a few issues along the way (like I had to install the `libidn11` package and the pip version that was supplied with the docker image was too old, becau

[2020-06-05 13:09] Laser-Cat commented on #668
My guessing is this problem may has something to do with Navi(including 5700xt).
Navi is not supported by rocm (yet?)

https://github.com/RadeonOpenCompute/ROCm/issues/887

[2020-06-05 17:56] skerit commented on #668
Oh really? That's a shame :(

[2020-06-08 14:15] sunway513 commented on #655
Hi @ericjang , supposedly you are using ROCm3.3, can you provide RPT profiling results on the workload and provide the logs?
https://scchan.github.io/hcc/md__home_scchan_code_hcc_doc_markdown_hcc_profile.html

[2020-06-09 03:29] ericjang commented on #655
Attached is my prof.out file. It's about 97Mb, which I've uploaded to Google Drive here:
https://drive.google.com/file/d/18yP9tBZj4bN1Da5dEsaio1J4Og4O1eGs/view?usp=sharing

Here's the rpt summary output:
[code]

There seems to be a bug with prof.json as Chrome complains about formatting.
[code]

[2020-06-09 03:35] sunway513 commented on #655
Thanks @ericjang , from the RPT profiling results it seems the GPU utilization rate is reasonable ~90% over the training sessions. Most of the time were spent on MIOpenConvUni.kd.
@daniellowell  can you help comment what’s that kernel represent for in ROCm3.3?

[2020-06-09 10:59] kazulittlefox opened #669 "PyTorch cannot manipulate multiple GPUs"
## 🐛 Bug

PyTorch installed on Anaconda environment cannot manipulate multiple GPUs properly, and it may cause further crashes.

## To Reproduce

Steps to reproduce the behavior:

1.Install user-built PyTorch wheel package for GFX906 via pip(further information: https://github.com/aieater/rocm_pytorch_informations#source-build-for-developers)
2.install huggingface/transformers via pip
3.run huggin

[2020-06-09 13:58] Delaunay commented on #669
I was able to run 8 MI50 in parallel with pytorch in the past,
so I do not think the issue is linked directly to pytorch.
I think it is probably an issue with how the stack was installed, even clinfo only list a single device.

What kind of cloud service are you using ?
Could there be an issue with how the VM was setup ?
Maybe only one device was forwarded to it.

[2020-06-12 12:57] Laser-Cat commented on #669
That's reminds me a while ago running two tensorflow sessions(in a single process) on two different gpus(Rx 470, Rx590) fails while running both sessions on each single GPU works just fine...

FYI:
TF version: 1.15.2, compiled from source
I used C API rather than python API. Each session is created by main thread and operated with a dedicated std::thread.
ROCM/MIOpen [Possibly] 3.3/2.3

[2020-06-14 09:31] umairnsr87 opened #671 "issue while performing the test while installing pytorch docker image"
## Issue description

Firstly I have installed rocm. Then I am trying to install pytorch with roc docker image. Everything goes correctly .But when I run **PYTORCH_TEST_WITH_ROCM=1 python test/run_test.py --verbose** it gives me the error **No module named pytorch**. Then I tried to use **Install using minimal ROCm docker file** but it is also failing giving error **no file named cmake**.

- PyTor

[2020-06-14 12:46] jithunnair-amd commented on #671
Please make sure you're running unit tests with the same version of python that you installed pytorch for.

[2020-06-14 12:56] umairnsr87 commented on #671
Did you mean both python installed on my computer and pytorch should be same. Do you have any detailed installation guide as i am trying to sort this out from past 3 days and i am still failing.

[2020-06-14 13:15] jithunnair-amd commented on #671
If you used one of the rocm/pytorch docker images, then you might need to specify 'python3.6' in your command line instead of 'python'. Try that and let us know if that helps.

[2020-06-14 13:23] umairnsr87 commented on #671
Let me try and check if python3 test command will work or not.

[2020-06-14 17:54] umairnsr87 commented on #671
Sorry @jithunnair-amd it is not resolved. I have tried installing it with docker image,upstream docker image too but failed getting error no module named torch.

[2020-06-14 18:03] jithunnair-amd commented on #671
Which docker image did you use? If you use rocm/pytorch:rocm3.5_ubuntu16.04_py3.6_pytorch for eg., it should already have pytorch built in it for python3.6, and `PYTORCH_TEST_WITH_ROCM=1 python3.6 test/run_test.py --verbose` should work (at least shouldn't give the error you're seeing about importing torch).

[2020-06-14 19:12] umairnsr87 commented on #671
I am using ** rocm/pytorch:rocm3.5_ubuntu16.04_py3.6_pytorch** and this time I have run **PYTORCH_TEST_WITH_ROCM=1 python3.6 test/run_test.py --verbose** it ran this time because i was thinking my system has 3.7. But this time I got the error I am pasting the error codes below.However I got several errors in the middle but this one stopped the execution.

Here it goes...
FAIL: test_gamma_gpu_sampl

[2020-06-15 19:40] ericjang commented on #655
Any tips on what I should do to speed things up? I'm training a fairly standard convnet setup, so I expect this will be a significant issue for PyTorch users when comparing AMD and NVIDIA hardware.

[2020-06-16 15:02] jGsch opened #674 "Run docker img as non root"
## ❓ Questions and Help

Pytorch in the `pytorch:rocm3.5_ubuntu16.04_py3.6_pytorch` docker image is build as root. However when I change user (as it is not recommended to run a docker as root), I can't import torch anymore.

I tried to update the PATH and change the permissions to `/root/pytorch` but without success, is there a way to do that without rebuilding the whole image? Or maybe the Docker

[2020-06-16 16:36] umairnsr87 commented on #671
@jithunnair-amd please help me.

[2020-06-17 09:17] kazulittlefox commented on #669
Since I have found the error with the connection via CPU and GPU node 0, I would like to close this issue because it might be caused by Hardware troubles.

[2020-06-17 09:17] #669 closed

[2020-06-17 16:10] jithunnair-amd commented on #671
This test (and all unit tests) are passing in our CI runs with gfx900 and gfx906. Can you verify which GPU architecture you're running on? You can get that info using something like: `rocminfo | egrep "^  Name:"`

[2020-06-17 17:47] umairnsr87 commented on #671
ROCk module is loaded
Able to open /dev/kfd read-write
=====================
HSA System Attributes
=====================
Runtime Version:         1.1
System Timestamp Freq.:  1000.000000MHz
Sig. Max Wait Duration:  18446744073709551615 (0xFFFFFFFFFFFFFFFF) (timestamp count)
Machine Model:           LARGE
System Endianness:       LITTLE

==========
HSA Agents
==========
*******
Agent 1
*******
  Na

[2020-06-17 18:00] umairnsr87 commented on #671
@jithunnair-amd  its gfx803

[2020-06-17 18:07] jithunnair-amd commented on #671
@sunway513 Any comments on gfx803?

[2020-06-17 18:22] sunway513 commented on #671
Pytorch unit tests are not covered by QA or public PyTorch CI, hence we have less coverage for the gfx803 target for unit tests.

[2020-06-17 18:47] umairnsr87 commented on #671
what should I do now? This is making me regret my decision to buy this gpu.

[2020-06-17 19:00] sunway513 commented on #671
Hi @umairnsr87 , for computing I'd suggest to go with Vega10 or Vega20 based GPUs, as we have comprehensive CI coverage on those GPU architectures for PyTorch.
What we can do for gfx803 is quite limited right now due to resources available. However, passing all unit tests are not the prerequisite to run a particular DL workloads.

[2020-06-17 19:01] umairnsr87 commented on #671
@sunway513 i have already purchased if a few days back.

[2020-06-17 19:02] umairnsr87 commented on #671
Did you mean even if the test fails i can still use the gpus for dl ?

[2020-06-17 19:04] sunway513 commented on #671
Correct, feel free to try the PT workloads you care about.

[2020-06-18 19:09] #671 closed

[2020-06-21 16:48] jGsch commented on #674
Find the solution, simply add to your dockerfile add:
[code]

[2020-06-21 19:01] #674 closed

[2020-06-22 14:47] devksingh4 commented on #668
I have also previously encountered this error on an RX580.

[2020-06-22 16:46] tonysy opened #677 "Run detectron2 on AMD cluster"
Hi, I try to run the detectron2 on the AMD cluster(gfx 906).
The official detectron2 has already supported to build and develop on AMD.

After I successfully compile the detectron2 on the AMD cluster, I'm unable to run the training successfully. The log of software environment and MIOpen is reported here:
[train_detectron2_log.log](https://github.com/ROCmSoftwarePlatform/pytorch/files/4814495/trai

[2020-06-22 17:00] sunway513 commented on #677
Hi @tonysy , can you firstly try to upgrade your baseline environment to ROCm3.5?
You can follow the instructions here:
https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html
cc @hgaspar  @jeffdaily

[2020-06-22 17:10] tonysy commented on #677
@sunway513 Hi, I think it's difficult for me to upgrade the environment from 3.3 to 3.5 in a short time,  because we rent such an AMD GPU cluster and have no root access to finish installation according to your provided guide.(We have contacted the HPC administration and they said it needs to stop all nodes of the cluster and not possible in a short time)

I would like to try to install the ROCm3.

[2020-06-22 17:20] sunway513 commented on #677
Our support for Detectron2 on ROCm3.3 is limited, mainly due to the lack of options to address the high overheads for the MIOpen configurations been called by Detectron2.
That's why I'd suggest you to go with ROCm3.5 if Detectron2 is required for your project.

Will it be possible to build and install MIOpen develop branch in your local environment?
If so, that would be helpful as well, as you can

[2020-06-22 17:41] tonysy commented on #677
I would like to try "Build and install MIOpen develop branch in your local environment?"
Does it mean to clone the https://github.com/ROCmSoftwarePlatform/MIOpen and build from the source on the AMD GPU node?

[2020-06-22 18:18] sunway513 commented on #677
Yes, that's correct. You can start from here to build MIOpen from source:
https://github.com/ROCmSoftwarePlatform/MIOpen#installing-minimum-dependencies-in-rocm-environment

[2020-06-23 06:36] 401qingkong commented on #677
@sunway513 Hi，I notice the new feature in miopen 2.4. I  wonder to know if I upgrade to the latest miopen version in the local environment, do I need to recompile pytorch from source to link the new miopen library?  And, How to keep and switch multiple miopen versions in use as needed.

[2020-06-23 18:58] tonysy commented on #677
@sunway513 Hi,
I can successfully compile and build the MIOpen 2.4.0 with ROCm3.3. Could you share more about how to use the MIOpen 2.4.0 with ROCm3.3 for the detectron2 project? Thanks a lot.

[2020-06-23 19:22] sunway513 commented on #677
Hi @tonysy , you can try to set the following environment variable and execute the Detectron2:
`export MIOPEN_FIND_MODE=3`

In addition, make sure you clean up the MIOpen cache folders, since you've upgraded the MIOpen version:
`rm -rf ~/.cache`

[2020-06-24 05:07] ericjang commented on #655
Friendly ping - any updates?
I use AMD gpus for hobby deep learning projects at home and it's demoralizing that I can't train my NNs very fast (not to mention multi-gpu issues, but I wanted to bring up one issue at a time).

[2020-06-24 06:06] sunway513 commented on #655
Hi @ericjang , l’m able to reproduce your observations locally and looking into the problem, will keep you posted soon.

[2020-06-24 06:21] sunway513 commented on #655
The workload in this issue uses FP16 precision, for which MIOpen doesn't have optimized convolution kernels for GFX900 GPUs.
He're the list of convolution configs been involved:
[code]
I can try to tune the configs and see if there're any improvements.
However, the recommendation is to use FP32 workloads on GFX900 GPUs.

[2020-06-24 13:44] tonysy commented on #677
@sunway513 Hi, I found though the build process of MIOpen 2.4.0 is successful. There have some issues for the test process.

When I conduct `./MIOpenDriver --version` to check the MIOpenDriver, I get the following erros:

[code]

I have searched the MIOpen repo but don't find solutions. Could you give some hints or ideas? Thanks

I use the 2.4.0 release version of MIOpen and the build command is :

[2020-06-24 15:02] sunway513 commented on #677
Hi @tonysy , can you create an issue in MIOpen repo and check with the team there:
https://github.com/ROCmSoftwarePlatform/MIOpen/issues
Also, would you confirm with your system admin and see if you can use docker containers in the cluster? Docker container deployment doesn't require sudo access.

[2020-06-25 03:55] sunway513 commented on #655
I’ve tried to tune the involved FP16 configs with MIOpen. In ROCm3.5 docker container, before tuning:
epoch   train time   train loss    train acc   valid time   valid loss    valid acc   total time
      1      37.1966       1.6711       0.3951      20.2976       1.6296       0.4529      38.8472
      2      37.3670       0.9893       0.6476       2.8158       2.1502       0.4324      76.2142

Af

[2020-06-27 09:03] WeiChunyu opened #682 "Build Error : cannot resolve overloaded function ‘hipOccupancyMaxActiveBlocksPerMultiprocessor’ based on conversion to type ‘int"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

USE_ROCM=1 python setup.py install

In file included from ../aten/src/ATen/hip/nvrtc_stub/ATenNVRTC.cpp:1:0:
../aten/src/ATen/hip/nvrtc_stub/ATenNVRTC.h:87:43: error: decltype cannot resolve address of overloaded function
 #define CREATE_MEMBER(name) decltype(&name) name;
                                           ^
../aten/src/ATen/hip/

[2020-06-28 23:08] #682 closed

[2020-07-06 10:36] kazulittlefox opened #684 "NLP model training/fine-tuning makes DRM crash"
## 🐛 Bug

Training/Fine-tuning NLP model makes display driver crash and make computer hanged.
 - We used the model based on transformer(https://github.com/huggingface/transformers)
 - running Distilbert with these parameters: batchsize:32 & max_sequence_length of 384 for the transoformer with around 10k samples

## To Reproduce

1.cloning huggingface/transformers from the repo.
2.preparing dataset

[2020-07-12 11:38] twuebi opened #689 "torch.unique crashes on GPU"
## 🐛 Bug

Running `torch.unique` with any specified argument fails:

[code]

[code]

[code]

With a single argument it works:

[code]

## To Reproduce

Steps to reproduce the behavior:

`torch.unique(torch.arange(10).view(2,5).cuda(), dim=1)`

## Expected behavior

No crashes.

## Environment

PyTorch version: 1.6.0a0+2a460c0
Is debug build: No
CUDA used to build PyTorch: Could not collect

OS: Li

[2020-07-14 10:42] twuebi opened #690 "Tensor out-of-bounds read"
## 🐛 Bug

Indexing a GPU tensor with a list allows out of bounds reads.

## To Reproduce

Steps to reproduce the behavior:

[code]

On my machine, the code below loops until 2404 before crashing with a memory access fault:

[code]

CPU correctly recognizes OOB:

[code]

## Environment

PyTorch version: 1.6.0a0+2a460c0
Is debug build: No
CUDA used to build PyTorch: Could not collect

OS: Linux Mint

[2020-07-14 10:53] twuebi commented on #690
This also happens on ROCm 2.10 with PyTorch 1.4.0:

[code]

[2020-07-22 13:35] twuebi commented on #690
Not restricted to indexing with python lists, also happens when indexing with tensors:

[code]

[code]

[2020-07-22 14:09] jithunnair-amd commented on #690
We'll take a look into this. Do you happen to know if this same behaviour is observed in CUDA on NV GPUs?

[2020-07-22 14:27] twuebi commented on #690
Doesn't happen on NV GPUs.

[2020-07-26 05:10] ericjang commented on #655
Hi, thanks all for the recommendations. switching to fp32 seems to indeed speed things up:
Dawn.py (21 sec / step):
[code]

New_dawn.py (15 sec / step)
[code]

A resulting pleasant surprise was that fp32 seems to converge faster than fp16 on reaching 94% top-1 accuracy.

Will there eventually be support for faster fp16 miopen kernels on gfx900?

[2020-08-02 06:22] ericjang opened #703 "torch.cuda.memory_stats returns all 0s"
## 🐛 Bug

Calling `torch.cuda.memory_stats` on gfx900 GPU (Frontier Vega) or any of the methods in https://pytorch.org/docs/stable/cuda.html#memory-management results in 0s.

## To Reproduce

Steps to reproduce the behavior:

1. Run rocm/pytorch 3.3
2. in python, start training a model on GPU
3. In a separate python process,
[code]

will return all 0s. Output:

[code]

## Expected behavior

Even t

[2020-08-02 13:35] jithunnair-amd commented on #703
I tried this recently on ROCm 3.3 by printing torch.cuda.memory_stats from the same process by instrumenting the python code, and it worked. Is there a reason you're trying to print it from a different process?

[2020-08-07 13:33] liygzting opened #706 "run jupyter no kernels"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.sudo docker run -it -v $HOME:/data --privileged --rm --device=/dev/kfd --device=/dev/dri --group-add video -p 18888:8888 rocm/pytorch:rocm3.5_ubuntu16.04_py3.6_pytorch
2.jupyter notebook --ip 0.0.0.0 --no-browser --allow-root

[I 13:17:30.249 NotebookApp] Serving notebooks from local directory: /root
[I 13:17:30.249 NotebookApp] The Ju

[2020-08-07 16:24] briansp2020 commented on #706
I usually do

That way, the container shares the ports of the host. If you want to export only a specific port, I think you have to expose as well as publishing. See https://nickjanetakis.com/blog/docker-tip-59-difference-between-exposing-and-publishing-ports#:~:text=You%20can%20expose%20a%20port,%2Dp%2080%3A80%20flag.

So in your case,

[2020-08-09 00:48] liygzting commented on #706
thanks @briansp2020
I can be in jupyter whether it's your way or mine
but my confusion is that the container cannot create a new python3 after it enters
As shown below
![image](https://user-images.githubusercontent.com/35652426/89722457-22712000-da1c-11ea-8b67-39995964b245.png)

[2020-08-09 01:59] lcskrishna commented on #706
@liygzting Can you try running ```pip3.6 install notebook``` inside the docker and then launch the jupyter notebook

[2020-08-09 10:50] liygzting commented on #706
yes   thanks @lcskrishna
Due to lack of components
![image](https://user-images.githubusercontent.com/35652426/89730428-f6cc5500-da70-11ea-8a33-49c228d5ed4d.png)

[2020-08-09 10:50] #706 closed

[2020-08-14 06:14] deepeshguru opened #710 "Error while installing PyTorch from source (https://github.com/ROCmSoftwarePlatform/pytorch) when I use "release_1.6_PR41255" branch with backend BLIS"
## When I try to install pytorch from source with branch "release_1.6_PR41255" with backend BLIS instead of MKL, I am getting Error when I run "python setup.py install" inside pytorch directory, I am able to successfully install pytorch with blis with branch "release" and "1.6" but these branch has pytorch version 1.7, I want to install stable pytorch version 1.6 with BLIS:
-- Trying to find prefe

[2020-08-22 05:08] ghostplant opened #716 "Expecting a prebuild version on PYPI for pytorch instead of using Docker"
Unlike Tensorflow, for pytorch, there is only docker version, but it limits the python version and other linux software version, so that it cannot meet many custom environment restrictions when integrating pytorch-rocm with other applications.

So looking forward to a prebuild version on PYPI for pytorch instead of using Docker.

[2020-08-24 07:09] rigtorp opened #718 "Build fails for gfx1010 architecture"
## 🐛 Bug

PyTorch fails to build for gfx1010 architecture

## To Reproduce

Steps to reproduce the behavior:

1. Install ROCm 3.7
1. Clone pytorch: `git clone --recursive https://github.com/ROCmSoftwarePlatform/pytorch`
1.
[code]
1. Run “hipify” to prepare source code:
[code]
1. Build and install pytorch:
[code]

Build fails with:
[code]

Full build output here: https://gist.github.com/rigtorp/db4

[2020-08-25 02:30] xuhuisheng commented on #718
ErrorInfo come from llvm-project: https://github.com/ROCm-Developer-Tools/llvm-project/blob/master/llvm/lib/Target/AMDGPU/SIInstrInfo.cpp#L4123

[2020-08-25 20:02] rigtorp commented on #718
Yes I also did not find any inline assembler in PyTorch with these instructions. Looks like there is an issue with LLVM codegen for GFX10+.

[2020-08-25 20:10] rigtorp commented on #718
@xuhuisheng The correct branch for latest AMD version of LLVM is `amd-stg-open`

[2020-08-25 21:00] rigtorp commented on #718
I think I have tracked this down to inline assemble in the https://github.com/ROCmSoftwarePlatform/rocPRIM library

[code]

[2020-08-25 21:25] sunway513 commented on #718
Hi @rigtorp @xuhuisheng , the PyTorch project relies on ROCm to run on AMD GPUs. At this moment, ROCm3.7 doesn't have full support for Navi GPUs (GFX10xx), please refer to this link for the official supported device list:
https://github.com/RadeonOpenCompute/ROCm#supported-gpus

[2020-08-25 21:29] rigtorp commented on #718
@sunway513 Yes I know.

Commenting out the offending lines in rocPRIM allows the PyTorch build to proceed much further. See https://github.com/ROCmSoftwarePlatform/rocPRIM/issues/180

[2020-08-25 21:36] rigtorp commented on #718
Besides the issue in rocPrime there is also this invalid use of inline assembly:
[code]

[2020-08-25 21:41] doctorcolinsmith commented on #718
@rigtorp Thank you for reporting the issue.  There is a fix planned for an upcoming release of rocPRIM.

[2020-08-25 21:45] rigtorp commented on #718
@doctorcolinsmith Please drop the fix in develop branch, PyTorch is very close to working on Navi now, we don't want to have to wait for ROCm 3.8!

[2020-08-25 21:45] sunway513 commented on #716
Hi @ghostplant , thanks for the post! Yes, this is in our planning, we will let you know once we have more to update.

[2020-08-25 21:48] sunway513 commented on #710
Hi @deepeshguru , the quoted branch (release_1.6_PR41255) is for some other validation purpose.
Please refer to the following upstream branch for PyTorch 1.6 release:
https://github.com/pytorch/pytorch/tree/release/1.6

[2020-08-25 21:50] sunway513 commented on #689
Hi @twuebi , could you try it on ROCm3.7 docker container?
https://hub.docker.com/r/rocm/pytorch/tags
If issue remains we can take it from there.

[2020-08-25 21:56] rigtorp commented on #718
I traced this down to use of inline assembly in rocRAND:
[code]
If I comment out the above line, the PyTorch build proceeds. See https://github.com/ROCmSoftwarePlatform/rocRAND/issues/140

[2020-08-26 03:49] deepeshguru commented on #710
Hi @sunway513 , same error comes, when I used BLIS instead of MKL with any release of PyTorch if I use source(https://github.com/pytorch/pytorch). I am able to build PyTorch1.6 with BLIS "https://github.com/ROCmSoftwarePlatform/pytorch/tree/restore_jit_tests_try2". I want to know "restore_jit_tests_try2" branch has stable pytorch 1.6 or not.

[2020-08-26 04:32] sunway513 commented on #710
@jeffdaily  can you help here?

[2020-08-26 04:51] xuhuisheng commented on #718
:D
After comment out the inline assmebly from rocPRIM and rocRAND's header, pytorch built successfully with gfx1010.
But I havenot a nav10 card. Somebody who had card could do some tests on it.

[2020-08-26 16:52] jeffdaily commented on #710
`Unrecognized BLAS option: blis`.  Please try cmake option `-DWITH_BLAS=FLAME`.

[2020-08-26 16:53] jeffdaily commented on #710
You should be able to use either the upstream `release/1.6` branch or the same branch from our fork.

`git clone --recursive https://github.com/ROCmSoftwarePlatform/pytorch -b release/1.6`
or
`git clone --recursive https://github.com/pytorch/pytorch -b release/1.6`

[2020-08-27 03:32] deepeshguru commented on #710
Hi @jeffdaily same error come after using -DWITH_BLAS=FLAME, I am using
"**USE_ROCM=0 BLAS=blis WITH_BLAS=FLAME python setup.py install**"
command to build pytorch with blis. and I have also exported blis path

export PATH=/home/deepesh/exps/blis2.2/include/blis:$PATH
export LD_LIBRARY_PATH=/home/deepesh/exps/blis2.2/lib:$LD_LIBRARY_PATH
export BLIS_HOME=/home/deepesh/exps/blis2.2 BLAS=blis USE_MK

[2020-08-31 13:50] twuebi commented on #689
[code]
[code]

[2020-09-01 15:49] sunway513 commented on #689
Hi @twuebi, thank you for reporting this issue!
We've been able reproduce it locally and will update when we have a solution.

[2020-09-08 12:18] wellhowtosay opened #728 "Could not find /home/lujia/pytorch/third_party/cpuinfo/CMakeLists.txt"
## 🐛 Bug
RCCL_DIR=/opt/rocm/rccl/lib/cmake/rccl/ PYTORCH_ROCM_ARCH=gfx906 hip_DIR=/opt/rocm/hip/cmake/ USE_NVCC=OFF BUILD_CAFFE2_OPS=0 PATH=/usr/lib/ccache/:$PATH USE_CUDA=OFF  python3 setup.py bdist_wheel
Building wheel torch-1.7.0a0+b926215
-- Building version 1.7.0a0+b926215
Could not find /home/lujia/pytorch/third_party/cpuinfo/CMakeLists.txt
Did you run 'git submodule update --init --recursiv

[2020-09-08 13:15] wellhowtosay commented on #728
solved:delete "--init" in "git submodule update --init --recursive"

[2020-09-08 13:15] #728 closed

[2020-09-10 11:50] apalazzi opened #731 "Docker error when running tests: ninja is required"
## 🐛 Bug

Hi,

I'm trying to use pytorch with rocm, however after installing the docker image the tests fail with the message:

[code]
## To Reproduce

Steps to reproduce the behavior:

1. sudo docker run -it --network=host --device=/dev/kfd --device=/dev/dri --group-add video --ipc=host --shm-size 8G rocm/pytorch:latest
2. (inside the docker) PYTORCH_TEST_WITH_ROCM=1 python3.6 test/run_test.py

#

[2020-09-10 21:39] ashishfarmer commented on #731
Thank you @apalazzi for bringing this to our attention. There is indeed a missing dependency in the docker you are using. Please install ninja in the docker using the command `pip3.6 install ninja` and then try the test, and it should work.

[2020-09-11 12:40] boniek83 commented on #716
Don't forget to integrate it with anaconda as well :)

[2020-09-14 10:48] boniek83 opened #734 "Pytorch 1.6.0 fails to build in rocm/pytorch:rocm3.7_ubuntu18.04_py3.6"
## 🐛 Bug
Pytorch 1.6.0 fails to build in container made from image: rocm/pytorch:rocm3.7_ubuntu18.04_py3.6

## To Reproduce

Steps to reproduce the behavior:

Dockerfile:
[code]
Error:
https://gist.github.com/boniek83/3fdf0b20a091bc52289df4ef042e60bb
## Expected behavior
Build should just work.

## Environment
 - ROCK: 3.7
 - PyTorch Version (e.g., 1.0): 1.6.0
 - OS (e.g., Linux): CentOS 7.8
 - Ho

[2020-09-16 16:56] boniek83 commented on #734
git clone --depth 1 --branch 1.6 https://github.com/ROCmSoftwarePlatform/pytorch builds just fine

[2020-09-17 23:19] niculw commented on #718
I've tested the fixes to rocPRIM and rocRAND, and the build completes with no errors, however it does produce a lot of warnings. Once done and i run
'PYTORCH_TEST_WITH_ROCM=1 python test/run_test.py --verbose'
to verify installation, it responds:
`/src/external/hip-on-vdi/rocclr/hip_code_object.cpp:92: guarantee(false && "hipErrorNoBinaryForGpu: Coudn't find binary for current devices!")`
And dump

[2020-09-18 01:04] rigtorp commented on #718
@niculw I get the same runtime error. I followed these steps to install ROCm: <https://rigtorp.se/notes/rocm/>. I have then replaced rocPRIM and rocRAND with the fixed versions. rocPRIM and rocRAND are header only libraries. Some of the other libraries used by pytorch (miopen and others) are not header only and requires compiled kernels for each GPU architecture, these libraries also needs to be b

[2020-09-18 01:34] xuhuisheng commented on #718
@niculw This is an issue in rocblas, new tensile client didnot provide kernel for gfx1010. https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1106

If you have enviroment to compile rocblas, can try build rocblas with BUILD_WITH_TENSILE_HOST=false. it force rocblas using old tensile client which didnot dependence the specific kernel. Maybe a workaroud for gfx1010.

The compiling ro

[2020-09-18 15:42] niculw commented on #718
@xuhuisheng rocBLAS seems to have more problems than just the new kernels. I can only complete the building by setting BUILD_TENSILE=false, disabling the entire generation. What is weird to me is that rocBLAS detects gfx1010 and reports information, yet it cant compile for the architecture. Furthermore the build will fail if calling the install script using '-c' which should build the client. Thus

[2020-09-18 23:59] rigtorp commented on #718
After changing this line in Tensile: https://github.com/ROCmSoftwarePlatform/Tensile/issues/1165

I can build rocBLAS:
[code]

Still same issue running pytorch:
[code]

[2020-09-19 22:27] niculw commented on #718
I downloaded the develop git for Tensile, changed the line you are refering to, and indeed Tensile compiles and creates build files.
[code]
However when i run `make install` when reaching around 100% i get the error:
[code]

I cant seem to get past this point.

[2020-09-19 22:40] rigtorp commented on #718
Maybe you have rocm installed to a different path than /opt/rocm-3.7.0 ?

On Sat, Sep 19, 2020, 15:27 Nicolai <notifications@github.com> wrote:

[2020-09-19 22:48] niculw commented on #718
No, it is definitely /opt/rocm-3.7.0/ i can try removing it so it saves
locally and see what happens.

On Sat, Sep 19, 2020 at 15:40, Erik Rigtorp <notifications@github.com>
wrote:

[2020-09-20 16:01] niculw commented on #718
I created a new docker container from scratch instead of an old one i pulled.
I successfully compiled rocBLAS.

When compiling pytorch i get:
[code]
Which i also had before, however it compiles and returns same error as before when running the test scripts.
`/src/external/hip-on-vdi/rocclr/hip_code_object.cpp:92: guarantee(false && "hipErrorNoBinaryForGpu: Coudn't find binary for current devices!"

[2020-09-20 23:39] xuhuisheng commented on #718
@niculw
You can recompile rocBLAS without new tensile client using `bash install.sh -i -t /home/work/tmp/Tensile -a gfx1010 -r`.
The `-r` tell cmake BUILD_TENSILE_HOST=false, and it will use old tensile client without TensileLibrary_gfx1010.co.
After building rocblas_xx.deb, sudo dpkg -i build/release/*.deb, Neednot recompile the pytorch.

Additionally, `-r` only work on rocm-3.7.0, It met some er

[2020-09-23 12:49] flowpoint opened #738 "build against hipMagma to enable Tensor.cuda().inverse()"
## 🚀 Feature

building against magma to enable Tensor.cuda().inverse()

## Motivation

some models use torch.Tensor.inverse() on gpu,
it is required for code like [Waveglow](https://pytorch.org/hub/nvidia_deeplearningexamples_tacotron2/) and its [Invertible1x1Conv](https://github.com/NVIDIA/DeepLearningExamples/blob/b2e89e6e80ca27b3a030d6419ba13a7022c869f3/PyTorch/SpeechSynthesis/Tacotron2/waveglo

[2020-09-24 06:19] flowpoint commented on #738
i just recognized that magma supports hip and is not nvidia specific.
updating the request accordingly

[2020-09-30 06:00] xuhuisheng commented on #718
@niculw  I have an idea. Since there is no problems/solutions for gfx1010, ROCm wont actually use TensileLibrary_gfx1010.co. If we copy TensileLibrary_gfx900.co to TensileLibrary_gfx1010.co, the problem may be solved.

[2020-11-01 23:36] tuxbotix commented on #718
I did manage to build rocBLAS and Tensile using their WIP branch `gfx10`. The unit tests for rocBLAS also went well with the GPU being actually used.

However, the `hipErrorNoBinaryForGpu` error still persists. It would be nice if a full stack trace of this error can be found to figure out if this is rocBLAS or something else causing the troubles.

[2020-11-01 23:52] xuhuisheng commented on #718
@tuxbotix Need recompile rocBLAS, rocFFT, rocSPARSE, hipSPARSE, rccl, MIOpen, with AMDGPU_TARGETS=gfx1010.
rocSPARSE and rccl need rocm-3.10.x branch to fix navi10 inline asm issues. I believe that AMD are starting to support RDNA2, so the related fix could be apply on gfx1010, too.

The hipErrorNoBinaryForGpu means we didnot compile kernels for specific ISA. I found this problem for ROCm-3.9 issu

[2020-11-02 00:02] tuxbotix commented on #718
Aha I was wondering if this is the exact issue. So this error means the kernels I got when building rocBLAS (and specifying gfx1010) aren't enough, I need to build other components for gfx1010 as well?

Yes I also noticed their dev. work for the newer GPUs, what wasn't clear to me was if gfx1030 for example corresponds to the new RDNA2 cards or something else.

[2020-11-02 02:30] xuhuisheng commented on #718
@tuxbotix There may be some other issues on navi10.
Likes rccl https://github.com/ROCmSoftwarePlatform/rccl/issues/289

RX5700XT is not better than vega 56/64, even Radeon VII.  I am afraid AMD wont pay attention on gfx101x.
The supporting of gfx103x aka RDNA2 is processing. Maybe we could see RDNA2 supporting on ROCm-4.0.

BTW, the price of video card is higher than middle of year. I am go on wai

[2020-11-02 10:15] tuxbotix commented on #718
That's sad to hear. I'm very happy with this card for my gaming uses and much cheaper than closest Nvidia card.
I got mine in last December but now only I got some time to look at compute usage 😅

At least it is nice to see they are working on RDNA 2, as the cards are almost launched~

[2020-11-08 07:17] cmal opened #765 "Cannot install from source with rocm."
## 🐛 Bug

export USE_NINJA=1 USE_CUDA=0 USE_ROCM=1 USE_LMDB=1 USE_OPENCV=1 MAX_JOBS=2; python setup.py install
...
[ 95%] Built target c10d
make: *** [Makefile:141：all] Error 2
Traceback (most recent call last):
  File "setup.py", line 724, in <module>
    build_deps()
  File "setup.py", line 317, in build_deps
    cmake=cmake)
  File "/home/cmal/gits/pytorch_rocm/tools/build_pytorch_libs.py", lin

[2020-11-13 00:01] Dan-RAI opened #773 "Compile fail on rocm 3.9"
## 🐛 Bug

[code]

## To Reproduce

Branch:

rocm3.9_nightly_wheel

[code]
## Expected behavior

Compile success

## Environment

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: 6.0.0-1ubuntu2 (tags/RELEASE_600/final)
CMake version: version 3.18.4
ROCM 3.9.1

[2020-11-16 20:03] niculw commented on #718
Any update on RDNA 1?

[2020-11-16 20:42] Dan-RAI commented on #773
same on master branch

[2021-01-07 02:56] ghostplant commented on #716
@sunway513 Is there any issues blocking this? https://github.com/pypa/pypi-support/issues/48
I think pip link can also be a web link provided by official AMD if public PYPI has many restrictions.

Like what pytorch-cuda has done:
[code]
[code]

[2021-01-07 03:53] sunway513 commented on #716
Hi @ghostplant , we have so far enabled nightly whl packages for PyTorch, you can use the following command to deploy the PyTorch nightly whls from PyTorch official, e.g. with ROCm4.0:
`pip3 install --pre torch -f https://download.pytorch.org/whl/nightly/rocm4.0/torch_nightly.html`
We're working towards more deployment options, I'll keep this thread updated once I have more to update.

[2021-01-07 23:09] sunway513 commented on #716
Hi @ghostplant , we've pushed out the python3.8 based 1.16 WHL package, please check it out and let us know if you see issues.
Command to install with ROCm4.0 environment:
`pip install tensorflow-rocm==1.15.9` for regular release
`pip install tensorflow-rocm-enhanced==1.15.5` for the enhanced release.

Moving forward we'll release the python3.8 based whl with TF1.15 for the future ROCm releases, f

[2021-01-08 05:38] ghostplant commented on #716
Thanks. It is solved. I'll close this issue.

[2021-01-08 05:38] #716 closed

[2021-01-08 22:12] xperroni opened #786 "hipErrorNoBinaryForGpu on Ryzen 7 4800U"
## 🐛 Bug

Trying to run PyTorch on a Ryzen 7 4800U system from Docker image `rocm/pytorch:rocm4.0_ubuntu18.04_py3.6_pytorch` fails with error `hipErrorNoBinaryForGpu`. Previous image versions (e.g. `rocm/pytorch:rocm3.8_ubuntu18.04_py3.6_pytorch`) worked fine.

## To Reproduce

Steps to reproduce the behavior:

1. [Setup the host environment](https://rocmdocs.amd.com/en/latest/Deep_learning/Deep-l

[2021-01-08 22:29] xuhuisheng commented on #786
`{ 0x1636, 9, 0, 2, "Renoir", CHIP_RENOIR }`
1636 is renoir gfx902, which is not supported by ROCm.

Now only gfx900, gfx906, gfx908 had offical support on ROCm.

[2021-01-11 14:03] xperroni commented on #786
What's weird is that if I run `rocminfo` on the `rocm/pytorch:rocm3.8_ubuntu18.04_py3.6_pytorch` image, it detects the on-chip GPU as a `gfx900`:

    *******
    Agent 2
    *******
      Name:                    gfx900

...which kind of makes me hopeful that if only I could get the `gfx902` (mis-)detected as a `gfx900`, it would still work.

[2021-01-21 10:06] wenwu-glagle commented on #731
1. The lack of ninja is still in docker image from rocm/pytorch:latest at this moment.
2. After install ninja, the test report this error:
 `
FAIL: test_torch_nn_MSELoss_prec_cuda (__main__.TestCppApiParity)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/var/lib/jenkins/pytorch/test/cpp_api_parity/module_impl_check.py", line 251,

[2021-01-22 18:17] jeffdaily commented on #689
Fix should be available when ROCm 4.1 releases.  If you need a fix sooner than that, it would require building ROCm PyTorch from source with the latest rocPRIM develop branch.

[2021-01-27 17:46] Colosu commented on #718
Hello.

I have the exact same hipErrorNoBinaryForGpu as you, did you finally found a workaround for that? I followed rigtorp instructions to install rocm and pytorch on fedora (thank you, btw),

[2021-01-27 22:31] xuhuisheng commented on #718
@Colosu
After do some patches, We could run ROCm on navi10/navi14 successfully.
But the loss of mnist wont change. please refer here:
https://github.com/RadeonOpenCompute/ROCm/issues/887#issuecomment-751443281
https://github.com/RadeonOpenCompute/ROCm/issues/1306#issuecomment-760062894

The good news is AMD said ROCm will provide official support navi in 2021.

[2021-02-01 07:42] bernharl commented on #327
Any updates on this?

[2021-02-01 08:55] xuhuisheng commented on #327
AMD provide a nightly building version of pytorch.
https://github.com/ROCmSoftwarePlatform/pytorch/issues/716#issuecomment-756441596

[2021-02-01 08:58] bernharl commented on #327
Ah, great stuff. Thank you!

[2021-02-25 09:21] dshm opened #797 "Memory access fault by GPU node-2 (Agent handle: 0x56468ab3bb50) on address 0x7fe55fb03000. Reason: Page not present or supervisor p rivilege.Aborted (core dumped)"
Docker image tried: rocm/pytorch:rocm4.0_ubuntu18.04_py3.6_pytorch_1.7.0  and  rocm/pytorch:latest

card:[AMD/ATI] Vega 10 [Radeon PRO WX 8100], rocminfo is shown below
Agent 3
*******
  Name:                    gfx900
  Uuid:                    GPU-021544ce42504164
  Marketing Name:          Device 6868
  Vendor Name:             AMD
  Feature:                 KERNEL_DISPATCH
  Profile:

[2021-03-01 16:39] sunway513 commented on #797
Hi @dshm , from your description the issue should be system configuration related.
I'd suggest you to create an issue in the ROCm repo and use HIP examples to reproduce the issue:
https://github.com/ROCm-Developer-Tools/HIP-Examples
https://github.com/RadeonOpenCompute/ROCm/issues

Once you're able to execute the HIP examples, please reopen the this issue and we can try PyTorch from there, thanks.

[2021-03-01 16:39] #797 closed

[2021-03-01 16:41] sunway513 commented on #786
Hi @xperroni , like the previous comment, ROCm doesn't official support gfx902 iGPU at this moment.
I'll close this issue for now, if you need further assistance please create issues on the main ROCm github repo:
https://github.com/RadeonOpenCompute/ROCm/issues

[2021-03-01 16:41] #786 closed

[2021-03-01 16:43] sunway513 commented on #738
@jeffdaily  can you review this issue as we now have hipMagma support merged in upstream PyTorch repo?

[2021-03-01 16:51] sunway513 commented on #731
Hi @wenwu-glagle , what's the GPU you have been using to execute the unit test?

[2021-03-01 16:52] sunway513 commented on #710
Hi @deepeshguru , can you try PyTorch 1.7 or 1.8 release branch? We have improved our CI coverage for PyTorch release branches after 1.6.

[2021-03-01 16:53] sunway513 commented on #703
Hi @ericjang can you reply to @jithunnair-amd 's query? Please let us know if this issue is still reproducible on your end, thanks.

[2021-03-05 20:24] sunway513 commented on #738
Hi @flowpoint we now have preliminary hipMagma integration with the official PyTorch 1.8 release.
You can refer to the "Start Locally" instructions to install the ROCm4.0.1 PyTorch 1.8 whl package and test:
https://pytorch.org/get-started/locally/

[2021-03-05 20:24] #738 closed

[2021-03-18 02:47] wenwu-glagle commented on #731
hi sunway513, I used vega56

[2021-04-14 09:52] shrutiramesh1988 opened #816 ""undefined symbol: _ZN3tbb4task13note_affinityEt" while running mlperf DLRM model with PyTorch+MKLDNN+MKL built with TBB"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.conda install tbb
2. USE_ROCM=0 **MKL_THREADING=TBB MKLDNN_THREADING=TBB** BLAS=MKL USE_MKLDNN=1 **MKL_TBB=1 USE_TBB=1 ATEN_THREADING=TBB** python setup.py install

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/tor

[2021-04-20 08:13] aquilaadrian opened #819 "Cannot install ?"
Hey  i need help to install pytorch rocm in my machine
My current computer:
Ubuntu 20.04
CPU: Ryzen 1700
GPU: AMD Radeon Vega 64

i installed rocm 4.1.1 rocm
i visited [https://pytorch.org/get-started/locally/](url)
and execute these two comands:

1. pip3 install torch -f https://download.pytorch.org/whl/rocm4.0.1/torch_stable.html
2. pip3 install ninja && pip3 install 'git+https://github.com/pyto

[2021-04-20 08:43] aquilaadrian commented on #819
solved by installing pip3 install torchvision

[2021-04-20 08:43] #819 closed

[2021-04-20 17:08] jeffdaily commented on #816
Is this specific to ROCm PyTorch fork?  Or can it be reproduced using upstream master?  If so, please submit the bug report to upstream.

[2021-04-21 11:50] shrutiramesh1988 commented on #816
This issue is not seen with the master branch of ROCm PyTorch or upstream PyTorch. Seems to be specific to version PyTorch1.7.

[2021-04-21 14:22] jithunnair-amd commented on #816
@shrutiramesh1988 So this error is with upstream PyTorch repo and release/1.7 branch?

[2021-04-21 17:22] shrutiramesh1988 commented on #816
We verified that this issue is not seen with the master branch of ROCm PyTorch : https://github.com/ROCmSoftwarePlatform/pytorch.git

We have also verified that the issue is not seen with the master branch of mainstream PyTorch : https://github.com/pytorch/pytorch.git

However, this issue is observed with release/1.7 branch of ROCm PyTorch : https://github.com/ROCmSoftwarePlatform/pytorch/tree/rel

[2021-04-21 17:22] #816 closed

[2021-04-26 16:28] WBobby opened #820 "install_magma failed when creating the Pytorch base image in CentOS7"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Enter .circle/docker folder
2. Run ./build.sh pytorch-devtoolset7-centos7.5.1804-rocm3.5.1-py3.6
3. The build will failed when running the install_magma function of the install_rocm.sh

sparse_hip/src/magma_zqr_wrapper.cpp  sparse_hip/src/magma_zcustomspmv.cpp sparse_hip/src/magma_zcustomprecond.cpp  sparse_hip/src/magma_z_precond_wra

[2021-04-28 14:11] amathews-amd commented on #820
https://bitbucket.org/icl/magma/pull-requests/10

[2021-04-29 01:52] sunway513 commented on #773
Hi @Dan-RAI , can you provide a dockerfile that can reproduce the reported issue?

[2021-04-29 07:03] Dan-RAI commented on #773
No, I moved on since then ...

[2021-04-29 07:03] #773 closed

[2021-05-14 08:12] #328 closed

[2021-05-22 18:17] sunway513 commented on #716
The whl package installation information can be found from pytorch.org as well.

[2021-05-22 18:20] sunway513 commented on #731
@ROCmSupport, can you help reproduce the reported issue locally? Thanks.

[2021-05-22 18:22] sunway513 commented on #677
Hi @tonysy , the reported issue should have been fixed with ROCm4.2 with MIOPEN_FIND_MODE=5.

[2021-05-22 18:22] #677 closed

[2021-06-10 09:36] 401qingkong commented on #738
I want to compile ROCm pytorch with the hipMagma library from source， could you give me some advice about how to do it. Now I have tried to compile pytorch with hipMagma branch hipMAGMAv2.0.0 download from this link [https://bitbucket.org/icl/magma/src/hipMAGMAv2.0.0/]  in ROCm 3.9 env ,but finally a torch link error occures as follows:
libtorch_hip.so: undefined reference to `magma_strsm_v1'.

co

[2021-06-10 14:32] sunway513 commented on #738
cc @amathews-amd @rraminen can you help? Thanks..

[2021-06-10 14:41] amathews-amd commented on #738
Hi @401qingkong ,
For building from source, could you follow the instructions in https://github.com/pytorch/pytorch/blob/master/.circleci/docker/common/install_rocm.sh#L5 for installing MAGMA ?

The wheels build for pytorch rocm should have the already compiled MAGMA library.
pip3 install torch -f https://download.pytorch.org/whl/rocm4.0.1/torch_stable.html
pip3 install ninja && pip3 install 'git+

[2021-06-11 06:22] 401qingkong commented on #738
@amathews-amd I compile and install hipMAGMA just follows the instrctions you referred in the above link. And  I compile pytorch with USE_MAGMA=1, But the torch link error still occures as follows:
libtorch_hip.so: undefined reference to `magma_strsm_v1'.
libtorch_hip.so: undefined reference to `magma_dtrsm_v1'

[2021-06-11 13:21] amathews-amd commented on #738
You need latest ROCm. ROCm4.1 and above should work. The earlier versions of pytorch was integrated with a branch of hipMagma, that does not exist anymore.

[2021-08-06 20:56] den-run-ai opened #850 "pip installation of rocm pytorch fails on centos with libtinfo.so.5 not found"
Following official installation blog post:

pip3 install ninja && pip3 install 'git+https://github.com/pytorch/vision.git@v0.10.0

ImportError: libtinfo.so.5: cannot open shared object file: No such file or directory

Only libtinfo.so.6 is available on my system.

[2021-11-21 23:13] hunterkiller11 opened #882 "hipErrorNoBinaryForGpu with gfx1010 and ROCm 4.5"
I tried installing pyTorch using the command generated by the website: pip3 install torch torchvision==0.11.1 -f https://download.pytorch.org/whl/rocm4.2/torch_stable.html

I have AMDGPU-Pro driver installed with ROCm 4.5.
The GPU is 5700XT (navi10 / gfx1010:xnack-)

Running pyTorch yields the error: hipErrorNoBinaryForGpu: Unable to find code object for all current devices!
but I don't know how t

[2021-11-24 10:54] esistgut commented on #882
Same error over here on RX 6900 XT, my rocminfo is attached
[rocminfo.txt](https://github.com/ROCmSoftwarePlatform/pytorch/files/7595056/rocminfo.txt)

[2021-12-22 01:01] jeffra opened #889 "JIT compile torch extensions not working as expected"
### 🐛 Describe the bug

Pre-compiling a HIP extension from CUDA source works great for us and how we've been doing our testing so far w. DeepSpeed on AMD hardware. However, our users almost exclusively compile our extensions via torch's JIT compiler w. ninja. It seems the hipify logic is slightly different in the JIT code path compared with pre-compiling. Here is a snippet of the error we see in J

[2022-03-23 15:48] amathews-amd opened #923 "unskip Sparse tests on ROCm"
### 🐛 Describe the bug

**Tests to activate**
test_sparse | test_Sparse_to_Sparse_copy__cuda_bfloat16 | (__main__.TestSparseCUDA)
-- | -- | --
test_sparse | test_Sparse_to_Sparse_copy__cuda_complex128 | (__main__.TestSparseCUDA)
test_sparse | test_Sparse_to_Sparse_copy__cuda_float64 | (__main__.TestSparseCUDA)
test_sparse | test_bmm_cuda_float64 | (__main__.TestSparseCUDA)
test_sparse | test_bmm_d

[2022-03-23 15:58] micmelesse opened #924 "unskip FFT tests"
Unskip the following FFT tests

test file | test name | class
-- | -- | --
test_ops | test_conj_view_fft_fft2_cuda_complex64 | (__main__.TestMathBitsCUDA)
test_ops | test_conj_view_fft_fft_cuda_complex64 | (__main__.TestMathBitsCUDA)
test_ops | test_conj_view_fft_fftn_cuda_complex64 | (__main__.TestMathBitsCUDA)
test_ops | test_conj_view_fft_hfft2_cuda_complex64 | (__main__.TestMathBitsCUDA)
test_

[2022-03-23 16:08] jaglinux opened #925 "unskip test_linalg on ROCm"
### 🐛 Describe the bug

Test to activate

test file | test name | test class
-- | -- | --
test_linalg | test_addmv_cuda_float16 | (__main__.TestLinalgCUDA)
test_linalg | test_inv_ex_singular_cuda_complex128 | (__main__.TestLinalgCUDA)
test_linalg | test_inv_ex_singular_cuda_complex64 | (__main__.TestLinalgCUDA)
test_linalg | test_inv_ex_singular_cuda_float32 | (__main__.TestLinalgCUDA)
test_linalg

[2022-03-23 16:13] amathews-amd opened #926 "unskip Tensor Creation and ExprPyBind Tests"
### 🐛 Describe the bug

test_tensor_creation_ops | test_logspace_cuda_float64 | (__main__.TestTensorCreationCUDA)
-- | -- | --
test_tensorexpr_pybind | test_alloc_in_loop | (__main__.TestTensorExprPyBind)
test_tensorexpr_pybind | test_kernel_shape_prop | (__main__.TestTensorExprPyBind)
test_tensorexpr_pybind | test_kernel_shape_prop_module | (__main__.TestTensorExprPyBind)
test_tensorexpr_pybind |

[2022-03-23 16:15] jaglinux opened #927 "unskip TestDistBackendWithSpawn"
### 🐛 Describe the bug

Tests to activate

test file | test name | test class
-- | -- | --
distributed/test_distributed_spawn | test_DistributedDataParallel_non_default_stream | (__main__.TestDistBackendWithSpawn)
distributed/test_distributed_spawn | test_compute_bucket_assignment_by_size_sparse_error_with_logger | (__main__.TestDistBackendWithSpawn)
distributed/test_distributed_spawn | test_compu

[2022-03-23 16:17] amathews-amd opened #928 "unskip sort and select"
### 🐛 Describe the bug

test_sort_and_select | test_sort_cuda | (__main__.TestSortAndSelectCUDA)
-- | -- | --
test_sort_and_select | test_topk_bfloat16_cuda_bfloat16 | (__main__.TestSortAndSelectCUDA)
test_sort_and_select | test_unique_dim_cuda | (__main__.TestSortAndSelectCUDA)

### Versions

ROCm version: 4.5.2
PyTorch commit: https://github.com/pytorch/pytorch/commit/4b4f652f799c732a7280052e44a

[2022-03-23 16:18] amathews-amd opened #929 "unskip reductions"
### 🐛 Describe the bug

test_reductions | test_median_nan_values_cuda_float16 | (__main__.TestReductionsCUDA)
-- | -- | --
test_reductions | test_median_nan_values_cuda_float32 | (__main__.TestReductionsCUDA)
test_reductions | test_median_nan_values_cuda_float64 | (__main__.TestReductionsCUDA)

### Versions

ROCm version: 4.5.2
PyTorch commit: https://github.com/pytorch/pytorch/commit/4b4f652f799c

[2022-03-23 16:19] jeffdaily opened #930 "unskip NUMBA tests"
### 🐛 Describe the bug

test file | test name | test class
-- | -- | --
test_numba_integration | test_array_adaptor | (__main__.TestNumbaIntegration)
test_numba_integration | test_conversion_errors | (__main__.TestNumbaIntegration)
test_numba_integration | test_from_cuda_array_interface_inferred_strides | (__main__.TestNumbaIntegration)

NOTE: This requires NUMBA support for ROCm first.

### Versi

[2022-03-23 16:19] amathews-amd opened #931 "unskip quantization tests"
### 🐛 Describe the bug

test_quantization | test_compare_per_channel_device_numerics | (quantization.core.test_quantized_tensor.TestQuantizedTensor)
-- | -- | --
test_quantization | test_compare_per_tensor_device_numerics | (quantization.core.test_quantized_tensor.TestQuantizedTensor)
test_quantization | test_cuda_quantization_does_not_pin_memory | (quantization.core.test_quantized_tensor.TestQuan

[2022-03-23 16:20] amathews-amd opened #932 "unskip optim tests"
### 🐛 Describe the bug

test_optim | test_adadelta | (__main__.TestOptim)
-- | -- | --
test_optim | test_nadam | (__main__.TestOptim)

### Versions

ROCm version: 4.5.2
PyTorch commit: https://github.com/pytorch/pytorch/commit/4b4f652f799c732a7280052e44a803a4cf6084de
March 17, 2022
Test Audit logs
ROCm Test1: https://ossci-raw-job-status.s3.amazonaws.com/log/5590875721
ROCm Test2: https://ossci-ra

[2022-03-23 16:21] jithunnair-amd opened #933 "unskip test_jit tests on ROCm"
### 🐛 Describe the bug

*Tests to activate*

test   file | test name | class
-- | -- | --
test_jit | test_event_args | (jit.test_cuda.TestCUDA)
test_jit | test_freeze_conv_relu_fusion | (jit.test_freezing.TestFrozenOptimizations)
test_jit | test_freeze_conv_relu_fusion_not_forward | (jit.test_freezing.TestFrozenOptimizations)
test_jit | test_stream_args | (jit.test_cuda.TestCUDA)

### Versions

RO

[2022-03-23 16:21] jeffdaily opened #934 "unskip OpenMP tests"
### 🐛 Describe the bug

test file | test name | test class
-- | -- | --
test_openmp | test_n_threads | (__main__.TestOpenMP_ParallelFor)
test_openmp | test_one_thread | (__main__.TestOpenMP_ParallelFor)

NOTE: CPU-only tests.

### Versions

ROCm version: 4.5.2
PyTorch commit: https://github.com/pytorch/pytorch/commit/4b4f652f799c732a7280052e44a803a4cf6084de
March 17, 2022
Test Audit logs
ROCm Test

[2022-03-23 16:21] arindamroy-eng opened #935 "Unskip tests in test_unary_ufuncs.py"
### 🐛 Describe the bug

Need to enable following tests for ROCM in test_ops.py:

test_frexp_assert_raises_cuda
test_frexp_cuda_float16
test_frexp_cuda_float32
test_frexp_cuda_float64
test_igamma_common_cuda_float32
test_igamma_common_cuda_float64
These are passing in ROCM 5.0

These were disabled by the following PRs:

### Versions

ROCM5.0

[2022-03-23 16:21] pruthvistony opened #936 "Skipping CUDNN specific issues"
### 🐛 Describe the bug

test_batchnorm_cudnn_nhwc | (__main__.TestNN)
-- | --
test_conv_backend_cudnn1d_has_bias_False_strided_False_contiguous_False_cuda | (__main__.TestNNDeviceTypeCUDA)
test_conv_backend_cudnn1d_has_bias_False_strided_False_contiguous_True_cuda | (__main__.TestNNDeviceTypeCUDA)
test_conv_backend_cudnn1d_has_bias_False_strided_True_contiguous_False_cuda | (__main__.TestNNDeviceT